<template>
    <div class="fandom-make-bg" :style=" {'height': width < 960 ? '54px' : '100px'} "></div>
    <div class="pb-16 fandom-make-bg">
        <v-row class="px-3" no-gutters>
            <v-col offset="0" offset-md="2" cols="12" md="8">
                <v-row v-if="creatorsListLoading" >
                    <v-col cols="3" v-for="i in 12">
                        <v-skeleton-loader
                            class="shadow-sm word-keep-all product-card-inner ma-3 carousel__item"
                            width="100%"
                            type="image, image, heading, divider, table-heading, table-heading"
                            >
                        </v-skeleton-loader>
                    </v-col>
                </v-row>
                <v-row v-if="!creatorsListLoading" align="center">
                    <v-col :class=" { 'pa-1': width < 700 ? true : false } " :cols="creator.titleFlag ? 12 : 6" :lg="creator.titleFlag ? 12 : 3" :md="creator.titleFlag ? 12 : 4" :sm="creator.titleFlag ? 12 : 4" :xs="creator.titleFlag ? 12 : 6" v-for="(creator, i) in creators">
                        <v-col v-if="creator.titleFlag" cols="12" xs="12" class="px-0 pt-5">
                            <span class="text-h3 grad-font font-italic pl-4 font-weight-black">팬덤메이크 소속 BJ&nbsp;</span>
                            <div class="ml-3 mid-title-hr-skew" :style="{ 'margin-top': width < 960 ? '-15px' : '-30px' }">
                                <v-divider class="float-left" :thickness="width < 960 ? 25 : 50" :style="{ 'width': width < 960 ? '60%' : '450px', 'min-width': '212px' }"></v-divider>
                                <v-divider class="float-left ml-4" :thickness="width < 960 ? 25 : 50" :style="{ 'width': width < 960 ? '3%' : '20px' }"></v-divider>
                                <v-divider class="float-left ml-4" :thickness="width < 960 ? 25 : 50" :style="{ 'width': width < 960 ? '3%' : '20px' }"></v-divider>
                                <v-divider class="float-left ml-4" :thickness="width < 960 ? 25 : 50" :style="{ 'width': width < 960 ? '3%' : '20px' }"></v-divider>
                            </div>
                        </v-col>
                        <v-hover v-if="!creator.titleFlag" v-slot="{ isHovering, props }">
                            <v-card class="shadow-sm word-keep-all product-card-inner creator-card card-border-grad" v-bind="props" :style="hoverTransition(isHovering)">
                                <v-img v-if="!creator.youtubeFace" cover src="/src/assets/img/unknown_person.png"></v-img>
                                <v-img v-if="creator.youtubeFace" cover :src="creator.youtubeFace" lazy-src="/src/assets/img/unknown_person.png" :style=" { 'margin': width < 450 ? '15px' : '20px', 'border-radius': '100%' } ">
                                    <template v-slot:placeholder>
                                        <div class="d-flex align-center justify-center fill-height">
                                            <v-progress-circular
                                            color="grey-lighten-4"
                                            indeterminate
                                            ></v-progress-circular>
                                        </div>
                                    </template>
                                    <template v-slot:error>
                                        <v-img
                                            cover src="/src/assets/img/unknown_person.png"
                                        ></v-img>
                                    </template>
                                </v-img>
                                <v-card-title class="text-h5 d-flex flex-row align-center">
                                    <div class="mr-1 align-center bj-circle-border" :style="getCircleSizeStyle(width)">BJ</div>
                                    <span class="text-h4 ml-1 grad-font font-weight-black" :style="{ 'font-size': width < 450 ? '1rem !important' : '2rem !important' }">{{ creator.creatorNm }}</span>
                                </v-card-title>
                                <v-card-subtitle class="mb-2 text-left" width="100%">
                                    <div class="d-flex flex-row align-center">
                                        <div @click="toExternalLink(creator.youtubeUrl)" class="d-flex flex-row align-center hover-pointer">
                                            <img :height="width < 960 ? 10 : 20" src="/src/assets/img/logo/Youtube_logo.png" />
                                            <span class="ml-2 text-h6 hover-subcriber" :style="{ 'font-size': width < 960 ? '0.75rem !important' : '1.1rem !important' }">{{ creator.youtubeSubsCnt }}</span>
                                        </div>
                                        <div @click="creator.africaSubsCnt ? toExternalLink(creator.africaTVUrl) : ''" class="d-flex flex-row align-center hover-pointer ml-3">
                                            <img class="mb-1" :height="width < 960 ? 15 : 30" src="/src/assets/img/logo/Africatv_logo.png" style="margin-right: 10px;"/>
                                            <span class="text-h6 hover-subcriber" :style="{ 'font-size': width < 960 ? '0.75rem !important' : '1.1rem !important' }">{{ creator.africaSubsCnt ? numberComma(creator.africaSubsCnt) : 'X' }}</span>
                                        </div>
                                    </div>
                                </v-card-subtitle>
                                <v-divider class="mx-2 mt-1 mb-2"></v-divider>
                                <v-card-subtitle class="my-3 text-h7 bj-script-wrap">
                                    {{ replaceBr(creator.youtubeScript) }}
                                </v-card-subtitle>
                            </v-card>
                        </v-hover>
                    </v-col>
                </v-row>
            </v-col>
            <v-col cols="0" md="2"></v-col>
        </v-row>
    </div>
</template>

<script setup>
import { ref, onMounted } from 'vue';
import { httpPostAxios } from '@/components/CommonAPI.js';
import { numberComma } from '@/common/common.js';
import { useDisplay } from 'vuetify';

const { width } = useDisplay();

const creatorsListLoading = ref(true);
const creators = ref();

onMounted(() => {
    getWholeCreatorList();
});

const getWholeCreatorList = () => {
    const endpoints = "/api/homepage/creator/getWholeCreatorList"
    httpPostAxios(endpoints).then(res => {
        if(res.data.code === 0) {
            creatorsListLoading.value = false;
            creators.value = res.data.DATA;
        } else {
            showAlert('error', res.data.msg);
        }
    });
}

function hoverTransition(isHovering) {
    return {width: '100%', bottom: isHovering ? '10px' : 0, transition: 'all 0.2s'}
}

const toExternalLink = (to) => {
    window.open(to);
}

const getCircleSizeStyle = (w) => {
    if(w < 450) {
        return { 'padding-top': '2px', 'font-size': '1rem', 'width': '30px', 'height': '30px' };
    } else if(w < 960) {
        return { 'width': '42px', 'height': '42px' };
    } else {
        return { 'width': '50px', 'height': '50px' };
    }
}

const replaceBr = (t) => {
    return t.replace(/(?:\n\n)/gm, '\n');
}
</script>

<style scoped>
.grad-font {
    background: #ECECEC;
    background: linear-gradient(to bottom, #ECECEC 0%, #53B1FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bj-circle-border {
    filter: drop-shadow(0 0 3px rgba(80, 180, 255, 1));
    padding-top: 7px;
    width: 50px;
    height: 50px;
    border: 2px solid #1d284d;
    border-radius: 100%;
    text-align: center;
}

.bj-script-wrap {
    white-space: pre;
    height: 32px;
    line-height: 1rem !important;
    color: #BDBDBD;
}

.mid-title-hr-skew {
    transform: skew(-15deg);
}

.hover-subcriber {
    color: #BDBDBD;
}

.v-card-subtitle {
    opacity: 1 !important;
}

.hover-subcriber:hover {
    color: #ffffff;
}
</style>