@media (min-width: 1600px) {
    .ref-col-lg-6 {
        flex: 0 0 16.6666666667% !important;
        max-width: 16.6666666667% !important;
    }
}

@media (min-width: 1280px) and (max-width: 1599px) {
    .ref-col-lg-5 {
        flex: 0 0 20% !important;
        max-width: 20% !important;
    }
}

@media (min-width: 960px) and (max-width: 1279px) {
    .ref-col-lg-4 {
        flex: 0 0 25% !important;
        max-width: 25% !important;
    }
}

@media (min-width: 600px) and (max-width: 959px) {
    .ref-col-lg-3 {
        flex: 0 0 33.3333333333% !important;
        max-width: 33.3333333333% !important;
    }
}

@media (min-width: 360px) and (max-width: 599px) {
    .ref-col-lg-2 {
        flex: 0 0 50% !important;
        max-width: 50% !important;
    }
}

@media (max-width: 359px) {
    .ref-col-lg-1 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
}