/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

@use 'vuetify/settings' with (
    $utilities: 'false',
    $color-pack: 'true',
    $body-font-family: Giants
);

@import "./_formMixin.scss";

@font-face {
    font-family: 'Giants';
    font-style: normal;
    font-weight: 100;
    src: url('@/assets/fonts/Giants-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Giants';
    font-style: normal;
    font-weight: 300;
    src: url('@/assets/fonts/Giants-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Giants';
    font-style: normal;
    font-weight: 400;
    src: url('@/assets/fonts/Giants-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Giants';
    font-style: normal;
    font-weight: 500;
    src: url('@/assets/fonts/Giants-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Giants';
    font-style: normal;
    font-weight: 700;
    src: url('@/assets/fonts/Giants-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Giants';
    font-style: normal;
    font-weight: 900;
    src: url('@/assets/fonts/Giants-Bold.otf') format('opentype');
}

.app-bar-wrap {
    height: 100px;
}

.fandom-make-bg {
    background: #132150;
    background: linear-gradient(to right, #132150 0%, #00051D 25%, #00051D 75%, #0B143B 100%);
}

.text-h7 {
    font-size: 15px !important;
    line-height: 1rem !important;
}

.text-h8 {
    font-size: 14px !important;
    line-height: 1.3rem !important;
}

.text-h9 {
    font-size: 12px !important;
    line-height: 1rem !important;
}

.text-title {
    font-weight: 700;
}

.text-font-normal {
    font-weight: 300;
    line-height: 1.4rem;
    letter-spacing: 0.0125em !important;
    font-family: "Roboto", sans-serif !important;
    text-transform: none !important;
}

.hover-pointer:hover {
    cursor: pointer;
}

.full-width {
    width: 100%;
}

.post-content-html-view img {
    max-width: 100%;
}

.ql-editor p {
    white-space: normal !important;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.mb-1px {
    margin-bottom: 1px;
}

.mb-2px {
    margin-bottom: 2px;
}

.mb-3px {
    margin-bottom: 3px;
}

.flex {
    display: flex;
}

.layer-top-1 {
    z-index: 1;
}

.layer-top-2 {
    z-index: 2;
}

.font-color-subtitle {
    color: #CCC;
}

.border-opacity-30 {
    --v-border-opacity: 0.3 !important;
}

.media-intro-parallax-md {
    height: 1080px;
}

.text-mouse-over:hover {
    cursor: pointer;
    color: rgb(152, 88, 255) !important;
    transition: all .3s;
}

.text-mouse-over {
    transition: all .3s;
}

.appbar-menu-mouse-over:hover {
    cursor: pointer;
    filter: invert(41%) sepia(92%) saturate(3297%) hue-rotate(241deg) brightness(102%) contrast(101%) !important;
    transition: all .3s;
}

.appbar-menu-mouse-over {
    transition: all .3s;
}

.fill-available {
    @supports (-webkit-touch-callout: none) {
        height: -webkit-fill-available;
    }
}

.word-keep-all {
    word-break: keep-all;
}

.creator-card {
    background-color: #14192f;
    border: 2px solid #1d284d;
}

.card-border-grad {
    border-top: 2px solid transparent;
    border-radius: 5px;
    background-image: linear-gradient(#14192f, #14192f), linear-gradient(to right, #8ea8ff 0%, #1d284d 50%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

@include mobile {
    .mobile-display-none {
        display: none !important;
    }
    .text-h1 {
        font-size: 40px !important;
        line-height: 2rem !important;
    }
    .text-h2 {
        font-size: 30px !important;
        line-height: 2rem !important;
    }
    .text-h3 {
        font-size: 25px !important;
        line-height: 2rem !important;
    }
    .text-h4 {
        font-size: 20px !important;
        line-height: 2rem !important;
    }
    .text-h5 {
        font-size: 18px !important;
        line-height: 1.5rem !important;
    }
    .text-h6 {
        font-size: 15px !important;
        line-height: 1.5rem !important;
    }
    .text-h7 {
        font-size: 12px !important;
        line-height: 1.5rem !important;
    }
    .text-body-2 {
        font-size: 10px !important;
        line-height: 1rem !important;
    }
    .mb-6 {
        margin-bottom: 12px !important;
    }
    .ml-4 {
        margin-left: 8px !important; 
    }
    .px-8 {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }
    .py-10 {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
    .app-bar-wrap {
        height: 55px;
    }
    .app-bar-wrap-title {
        margin-left: 0px !important;
    }
    .app-bar-inner-row {
        width: 220px;
    }
    .app-bar-img1 {
        width: 40px;
    }
    .app-bar-img2 {
        width: 100px;
    }
    .app-bar-nav {
        font-size: 20px;
        margin-top: -5px;
    }
    .ql-editor p {
        margin-bottom: 10px !important
    }
    .admin-user-search-form {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@include tablet {
    .mobile-display-none{
        display: none !important;
    }
    .text-h1 {
        font-size: 40px !important;
        line-height: 2rem !important;
    }
    .text-h2 {
        font-size: 30px !important;
        line-height: 2rem !important;
    }
    .text-h3 {
        font-size: 25px !important;
        line-height: 2rem !important;
    }
    .text-h4 {
        font-size: 20px !important;
        line-height: 2rem !important;
    }
    .text-h5 {
        font-size: 18px !important;
        line-height: 1.5rem !important;
    }
    .text-h6 {
        font-size: 15px !important;
        line-height: 1.5rem !important;
    }
    .text-h7 {
        font-size: 12px !important;
        line-height: 1.5rem !important;
    }
    .text-body-2 {
        font-size: 10px !important;
        line-height: 1rem !important;
    }
    .mb-6 {
        margin-bottom: 12px !important;
    }
    .img-card {
        width: 200px;
    }
    .app-bar-wrap {
        height: 55px;
    }
    .app-bar-wrap-title {
        margin-left: 0px !important;
    }
    .app-bar-inner-row {
        width: 300px;
    }
    .app-bar-img1 {
        width: 20px;
        margin-top: -20px;
    }
    .app-bar-img2 {
        width: 130px;
        margin-top: -10px;
    }
    .app-bar-nav {
        font-size: 35px;
        margin-top: 20px;
    }
    .admin-user-search-form {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@include middle {
    .desktop-display-none {
        display: none !important;
    }
}

@include desktop {
    .desktop-display-none {
        display: none !important;
    }
}