<template>
    <v-container class="text-h4 mt-16 pt-16 text-center">
        <div>ADMIN PAGE 입니다.</div>
        <div v-if="newContactMessageCnt > 0" class="mt-16">읽지 않은 CONTACT의 메시지가 {{ newContactMessageCnt }}개 있습니다.</div>
    </v-container>
</template>

<script setup>
import { ref, onMounted, defineEmits } from 'vue';
import { httpPostAxiosWithJWT, checkToken, signOut } from '@/components/CommonAPI.js';
const emit = defineEmits(["setAlert"]);
const setAlert = (alertType, alertText) => {
    emit("setAlert", alertType, alertText);
}

onMounted(() => {
    checkToken();
    getNewContactMessageCnt();
})

const newContactMessageCnt = ref(0);
const getNewContactMessageCnt = () => {
    const endpoints = "/api/home/admin/contact/getNewContactMessageCnt"
    httpPostAxiosWithJWT(endpoints).then(res => {
        if(res.data.code === 0) {
            newContactMessageCnt.value = res.data.DATA;
        } else {
            setAlert('error', res.data.msg);
            if(res.data.code === 6) signOut();
        }
    });
}
</script>