<template>
    <v-skeleton-loader
        v-if="contactListLoading"
        type="table-thead,table-tbody,table-tbody"
        style="max-height: calc(100vh - 116px); overflow: auto;"
    >
    </v-skeleton-loader>
    <v-table v-if="!contactListLoading" class="custom-table-width hover-pointer" fixed-header density="comfortable" hover style="max-height: calc(100vh - 110px);">
        <thead>
            <tr>
                <th class="text-left" width="100">조회여부</th>
                <th class="text-left" width="150">문의 유형</th>
                <th class="text-left" width="150">이름</th>
                <th class="text-left" width="250">이메일</th>
                <th class="text-left" width="150">연락처</th>
                <th class="text-left" width="700">내용</th>
                <th class="text-left" width="200">등록시간</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="contactModel in contactMessageList" :key="contactModel.idx" @click="contactListRowClickHandler(contactModel)">
                <td :style="{ 'color': contactModel.readYn ? '' : '#E57373' }">{{ contactModel.readYn ? '읽음' : '안읽음' }}</td>
                <td>{{ contactModel.contactType }}</td>
                <td>{{ contactModel.contacter }}</td>
                <td>{{ contactModel.contacterEmail }}</td>
                <td>{{ contactModel.contacterPhone }}</td>
                <!-- <td style="text-overflow: ellipsis">{{ contactModel.contactMessage.substring(0, 50) + '...' }}</td> -->
                <td>
                    <div style="width:700px; overflow: hidden; text-overflow: ellipsis; white-space:nowrap;">
                        {{ contactModel.contactMessage }}
                    </div>
                </td>
                <td>{{ contactModel.regDate }}</td>
            </tr>
        </tbody>
    </v-table>
    
    <v-dialog
        v-model="contactDialogRef.isContactDialog"
        class="custom-dialog-factor"
        style="max-width: 600px;"
    >
        <v-card rounded="xl">
            <v-card-text>
                <p class="text-h4 text-center">
                    {{ contactDialogRef.contact.contactType }}
                </p>
                <div class="text-h6 font-weight-light">이름
                    <span class="text-h6 font-weight-light float-right">{{ contactDialogRef.contact.contacter }}</span>
                </div>
                <div class="text-h6 font-weight-light">연락처
                    <span class="text-h6 font-weight-light float-right">{{ contactDialogRef.contact.contacterPhone }}</span>
                </div>
                <div class="text-h6 font-weight-light">이메일
                    <span class="text-h6 font-weight-light float-right">{{ contactDialogRef.contact.contacterEmail }}</span>
                </div>
                <div class="text-h6 font-weight-light mt-4">채널URL
                    <v-text-field
                    type="text"
                    variant="outlined"
                    density="compact"
                    readonly
                    hide-details
                    v-model="contactDialogRef.contact.contacterUrl"
                    append-inner-icon="mdi-content-copy"
                    @click:append-inner="copyContent(contactDialogRef.contact.contacterUrl)"
                    >
                    </v-text-field>
                    <!-- <span class="text-h8 font-weight-light float-right">{{ contactDialogRef.contact.contacterUrl }}</span> -->
                </div>
                <div class="text-h6 font-weight-light mt-4">
                    <span>문의내용</span>
                </div>
                <div>
                    <v-textarea
                        type="text"
                        variant="outlined"
                        density="compact"
                        rows="6"
                        readonly
                        hide-details
                        no-resize
                        v-model="contactDialogRef.contact.contactMessage"
                    />
                </div>
                <div>
                    <v-btn class="mt-5" block variant="tonal" rounded="xl" density="comfortable" color="error" :loading="deleteContactDialogLoading" @click="deleteContactData(contactDialogRef.contact)">삭제</v-btn>
                </div>
            </v-card-text>
            <v-card-actions>
                <v-btn block variant="text" density="comfortable" rounded="xl" @click="contactDialogRef.isContactDialog = false">Close</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script setup>
import { ref, onMounted, defineEmits } from 'vue';
import { httpPostAxiosWithJWT, checkToken, signOut } from '@/components/CommonAPI.js';

const emit = defineEmits(["copyContent"]);
const copyContent = (content) => {
    emit("copyContent", content);
}

const setAlert = (alertType, alertText) => {
    emit("setAlert", alertType, alertText);
}

const contactListLoading = ref(true);
const contactMessageList = ref([]);

const contactDialogRef = ref({});

onMounted(() => {
    checkToken();
    getContactMessageList();
})

const getContactMessageList = () => {
    const endpoints = "/api/home/admin/contact/getContactMessageList"
    httpPostAxiosWithJWT(endpoints).then(res => {
        contactListLoading.value = false;
        if(res.data.code === 0) {
            contactMessageList.value = res.data.DATA;
        } else {
            setAlert('error', res.data.msg);
            if(res.data.code === 6) signOut();
        }
    });
}

const contactListRowClickHandler = (o) => {
    contactDialogRef.value.contact = o;
    contactDialogRef.value.isContactDialog = true;
    contactDialogRef.value.contact.readYn = true;

    const endpoints = "/api/home/admin/contact/readContactData"
    const param = {
        'idx': contactDialogRef.value.contact.idx
    }
    httpPostAxiosWithJWT(endpoints, param).then(res => {
        const data = res.data;
        const code = data.code;
        if(code === 0) {
            contactDialogRef.value.contact.readYn = true;
        } else {
            if(code === 6) signOut();
        }
    });
}

const deleteContactDialogLoading = ref(false);
const deleteContactData = (model) => {
    if(!confirm('정말 삭제하시겠습니까?')) {
        return false;
    }
    contactDialogRef.value.isContactDialog = false;

    model.deleteContactLoading = true;
    const endpoints = "/api/home/admin/contact/deleteContactData"
    const param = {
        'idx': model.idx
    }
    httpPostAxiosWithJWT(endpoints, param).then(res => {
        model.deleteContactLoading = false;
        const data = res.data;
        const code = data.code;
        if(code === 0) {
            getContactMessageList();
            setAlert('success', '삭제되었습니다.');
            contactDialogRef.value.isContactDialog = false;
        } else {
            setAlert('error', data.msg);
            if(code === 6) signOut();
        }
    });
}
</script>

<style scoped>
.custom-table-width :deep(table) {
    width: 1700px !important;
    min-width: 100%;
}

.custom-text-field :deep(.v-field__input) {
    padding: 4px !important;
}
.custom-text-field :deep(.v-field.v-field--appended) {
    --v-field-padding-end: 6px !important;
}
.custom-text-field :deep(.v-select__selection) {
    margin-top: 1px !important;
    margin-bottom: 1px !important;
}

.custom-dialog-factor :deep(.v-overlay__content) {
    max-height: calc(100% - 30px) !important;
    width: calc(100% - 30px) !important;
    max-width: calc(100% - 30px) !important;
    margin: 15px !important;
    display: flex;
    flex-direction: column;
}
</style>