<template>
    <v-skeleton-loader
        v-if="creatorsListLoading"
        type="table-thead,table-tbody,table-tbody,table-tbody"
        style="max-height: calc(100vh - 116px); overflow: auto;"
    >
    </v-skeleton-loader>
    <v-table v-if="!creatorsListLoading" class="custom-table-width" fixed-header density="comfortable" hover style="max-height: calc(100vh - 110px);"> <!--style="max-height: calc(100vh - 116px);"-->
        <thead>
            <tr>
                <th class="text-center" width="80px"><v-icon icon="mdi-account"></v-icon></th>
                <th class="text-left" width="180px">이름</th>
                <th class="text-left" style="max-width: 500px;">유튜브</th>
                <th class="text-left" width="110px">유튜브구독자</th>
                <th class="text-left" width="400px">아프리카</th>
                <th class="text-left" width="130px">아프리카애청자</th>
                <th class="text-left" width="150px">사용여부</th>
                <th class="text-left" width="50px">저장</th>
                <th class="text-left" width="50px">삭제</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="creatorModel in creatorsList" :key="creatorModel.idx">
                <td class="text-center align-center py-1"><img :src="creatorModel.youtubeFace" style="height: 50px; border-radius: 100%; vertical-align: middle;" /></td>
                <td class="text-h6">
                    <v-text-field
                    variant="outlined"
                    placeholder="이름"
                    hide-details
                    v-model="creatorModel.creatorNm"
                    density="comfortable"
                    ></v-text-field>
                </td>
                <td class="text-h7">
                    <v-text-field 
                    variant="outlined"
                    placeholder="유튜브채널주소"
                    hide-details
                    v-model="creatorModel.youtubeUrl"
                    density="comfortable"
                    ></v-text-field>
                </td>
                <td class="text-h7">
                    {{ creatorModel.youtubeSubsCnt }}
                </td>
                <td class="text-h7">
                    <v-text-field 
                    variant="outlined"
                    placeholder="아프리카채널주소"
                    hide-details
                    v-model="creatorModel.africaTVUrl"
                    density="comfortable"
                    ></v-text-field>
                </td>
                <td class="text-h7">
                    {{ creatorModel.africaSubsCnt ? numberComma(creatorModel.africaSubsCnt) : '' }}
                </td>
                <td class="text-h7">
                    <v-select
                    class="custom-text-field"
                    color="indigo" 
                    :items="useYnType"
                    item-title="useYnTxt"
                    item-value="useYn"
                    density="compact"
                    variant="outlined"
                    autofocus
                    v-model="creatorModel.useYn"
                    hide-details
                    />
                </td>
                <td><v-btn icon="mdi-check" variant="text" :loading="creatorModel.updateCreatorLoading" density="comfortable" @click="updateCreatorData(creatorModel)"></v-btn></td>
                <td><v-btn icon="mdi-trash-can-outline" variant="text" :loading="creatorModel.deleteCreatorLoading" density="comfortable" @click="deleteCreatorData(creatorModel)"></v-btn></td>
            </tr>
            <tr v-if="isAddCreatorData">
                <td class="text-center align-center py-1"><img :src="getImgPath()" style="height: 50px; border-radius: 100%; vertical-align: middle;" /></td>
                <td>
                    <v-text-field placeholder="*이름" type="text" variant="underlined" density="compact" v-model="addCreatorModel.creatorNm" hide-details></v-text-field>
                </td>
                <td>
                    <v-text-field placeholder="*유튜브채널주소" type="text" variant="underlined" density="compact" v-model="addCreatorModel.youtubeUrl" hide-details></v-text-field>
                </td>
                <td class="text-h7">0</td>
                <td>
                    <v-text-field placeholder="아프리카채널주소" type="text" variant="underlined" density="compact" v-model="addCreatorModel.africaTVUrl" hide-details></v-text-field>
                </td>
                <td class="text-h7">0</td>
                <td>
                    <v-select
                    class="custom-text-field"
                    color="indigo" 
                    :items="useYnType"
                    item-title="useYnTxt"
                    item-value="useYn"
                    density="compact"
                    variant="outlined"
                    autofocus
                    v-model="addCreatorModel.useYn"
                    hide-details
                    />
                </td>
                <td>
                    <v-btn icon="mdi-check" :loading="insertCreatorLoading" variant="text" density="comfortable" @click="insertAddCreator()"></v-btn>
                </td>
                <td>
                    <v-btn icon="mdi-trash-can-outline" variant="text" density="comfortable" @click="deleteAddCreatorObj()"></v-btn>
                </td>
            </tr>
            <tr v-if="!isAddCreatorData">
                <td colspan="9" class="align-center">
                    <v-btn block variant="text" density="comfortable" rounded="xl" @click="isAddCreatorData = true" style="height: 100%;"><v-icon icon="mdi-plus"></v-icon>추가</v-btn>
                </td>
            </tr>
        </tbody>
    </v-table>
</template>

<script setup>
import { ref, onMounted, defineEmits } from 'vue';
import { httpPostAxiosWithJWT, checkToken, signOut } from '@/components/CommonAPI.js';
import { numberComma } from '@/common/common.js';

const emit = defineEmits(["setAlert"]);

const creatorsListLoading = ref(true);
const creatorsList = ref([]);

const useYnType = ref([
    { useYn: true, useYnTxt: '사용' },
    { useYn: false, useYnTxt: '사용안함' },
]);

const isAddCreatorData = ref(false);
const addCreatorModel = ref({
    creatorNm: '',
    youtubeFace: '',
    youtubeUrl: '',
    youtubeSubsCnt: '',
    africaTVUrl: '',
    africaSubsCnt: '',
    useYn: true
});

onMounted(() => {
    checkToken();
    getCreatorDataList();
})

const getCreatorDataList = () => {
    const endpoints = "/api/home/admin/creator/getCreatorDataList"
    httpPostAxiosWithJWT(endpoints).then(res => {
        creatorsListLoading.value = false;
        if(res.data.code === 0) {
            creatorsList.value = res.data.DATA;
        } else {
            setAlert('error', res.data.msg);
            if(res.data.code === 6) signOut();
        }
    });
}

const setAlert = (alertType, alertText) => {
    emit("setAlert", alertType, alertText);
}

const deleteAddCreatorObj = () => {
    isAddCreatorData.value = false;
    initAddCreatorModel();
}

const initAddCreatorModel = () => {
    addCreatorModel.value = {
        creatorNm: '',
        youtubeFace: '',
        youtubeUrl: '',
        youtubeSubsCnt: '',
        africaTVUrl: '',
        africaSubsCnt: '',
        useYn: true,
    }
}

const insertCreatorLoading = ref(false);
const insertAddCreator = () => {
    insertCreatorLoading.value = true;
    if(!addCreatorModel.value.creatorNm) {
        setAlert('error', '크리에이터 이름을 입력해주세요.');
        return false;
    }
    if(!addCreatorModel.value.youtubeUrl) {
        setAlert('error', '유튜브채널주소를 입력해주세요.');
        return false;
    }

    const endpoints = "/api/home/admin/creator/insertCreatorData"
    httpPostAxiosWithJWT(endpoints, addCreatorModel.value).then(res => {
        insertCreatorLoading.value = false;
        const data = res.data;
        const code = data.code;
        if(code === 0) {
            getCreatorDataList();
            setAlert('success', '입력되었습니다.');
        } else {
            setAlert('error', data.msg);
            if(code === 6) signOut();
        }
        initAddCreatorModel();
        isAddCreatorData.value = false;
    });
}

const updateCreatorData = (model) => {
    if(!confirm('수정하시겠습니까?')) {
        return false;
    }

    model.updateCreatorLoading = true;
    const endpoints = "/api/home/admin/creator/updateCreatorData"
    httpPostAxiosWithJWT(endpoints, model).then(res => {
        model.updateCreatorLoading = false;
        const data = res.data;
        const code = data.code;
        if(code === 0) {
            getCreatorDataList();
            setAlert('success', '수정되었습니다.');
        } else {
            setAlert('error', data.msg);
            if(code === 6) signOut();
        }
    });
}

const deleteCreatorData = (model) => {
    if(!confirm('정말 삭제하시겠습니까?')) {
        return false;
    }

    model.deleteCreatorLoading = true;
    const endpoints = "/api/home/admin/creator/deleteCreatorData"
    const param = {
        'idx': model.idx
    }
    httpPostAxiosWithJWT(endpoints, param).then(res => {
        model.deleteCreatorLoading = false;
        const data = res.data;
        const code = data.code;
        if(code === 0) {
            getCreatorDataList();
            setAlert('success', '삭제되었습니다.');
        } else {
            setAlert('error', data.msg);
            if(code === 6) signOut();
        }
    });
}

const getImgPath = function() {
    return new URL(`/src/assets/img/unknown_person.png`, import.meta.url).href;
}
</script>

<style scoped>
.custom-table-width :deep(table) {
    width: 1700px !important;
    min-width: 100%;
}

.custom-text-field :deep(.v-field__input) {
    padding: 4px !important;
}
.custom-text-field :deep(.v-field.v-field--appended) {
    --v-field-padding-end: 6px !important;
}
.custom-text-field :deep(.v-select__selection) {
    margin-top: 1px !important;
    margin-bottom: 1px !important;
}
</style>