<template>
    <div class="pa-5">
        <div class="text-h4">유튜브 실시간 라이브 링크 엑셀파일</div>
        <v-btn
            append-icon="mdi-download"
            color="deep-purple-accent-4"
            @click="getCurrentYoutubeLiveLinkExcel()"
        >
            다운로드
        </v-btn>

        <v-overlay
            :model-value="isOverlay"
            class="align-center justify-center text-center"
            persistent
        >
            <v-progress-circular
                color="primary"
                size="64"
                indeterminate
            >
            </v-progress-circular>
            <div class="text-h5 pt-5">잠시만 기다려주세요...</div>
        </v-overlay>
    </div>
</template>

<script setup>
import { ref, onMounted } from 'vue';
import { httpPostAxiosFileDownloadWithJWT, checkToken } from '@/components/CommonAPI.js';

onMounted(() => {
    checkToken();
});

const isOverlay = ref(false);
const getCurrentYoutubeLiveLinkExcel = () => {
    isOverlay.value = true;
    const endpoints = "/api/home/admin/etc/getYoutubeLiveLinkExcel"
    httpPostAxiosFileDownloadWithJWT(endpoints).then(res => {
        const url = window.URL.createObjectURL(new Blob([res.data]));
        const link = document.createElement("a");
        link.href = url;
        link.setAttribute("download", "ytb_live_result.xlsx");
        document.body.appendChild(link);
        link.click();
        link.remove();
        isOverlay.value = false;
    });
}
</script>