<template>
    <v-container>
        <div class="text-h4 text-center">고객센터 연락처 정보</div>
        <v-row class="mt-8">
            <v-col cols="12" md="6">
                <div class="text-h5 mb-2">전화번호</div>
                <v-text-field
                type="text"
                label="고객센터 전화번호"
                variant="outlined"
                density="comfortable"
                v-model="footerDataModel.csPhone"
                hide-details>
                </v-text-field>
            </v-col>
            <v-col cols="12" md="6">
                <div class="text-h5 mb-2">이메일</div>
                <v-text-field
                type="text"
                label="고객센터 이메일 (Contact의 메시지가 전송됩니다)"
                variant="outlined"
                density="comfortable"
                v-model="footerDataModel.csEmail"
                hide-details>
                </v-text-field>
            </v-col>
            <v-col cols="12">
                <v-btn variant="tonal" color="indigo" @click="updateFooterData()" block :loading="updateFooterDataLoading"><v-icon icon="mdi-check"></v-icon>수정</v-btn>
            </v-col>
        </v-row>
    </v-container>
</template>

<script setup>
import { ref, onMounted, defineEmits } from 'vue';
import { httpPostAxiosWithJWT, checkToken, signOut } from '@/components/CommonAPI.js';

const emit = defineEmits(["setAlert"]);
const setAlert = (alertType, alertText) => {
    emit("setAlert", alertType, alertText);
}

const footerDataModel = ref({});

onMounted(() => {
    checkToken();
    getFooterData();
})

const getFooterData = () => {
    const endpoints = "/api/home/admin/footer/getFooterData"
    httpPostAxiosWithJWT(endpoints).then(res => {
        if(res.data.code === 0) {
            footerDataModel.value = res.data.DATA;
        } else {
            setAlert('error', res.data.msg);
            if(res.data.code === 6) signOut();
        }
    });
}

const updateFooterDataLoading = ref(false);
const updateFooterData = () => {
    updateFooterDataLoading.value = true;
    const endpoints = "/api/home/admin/footer/updateFooterData"
    httpPostAxiosWithJWT(endpoints, footerDataModel.value).then(res => {
        updateFooterDataLoading.value = false;
        if(res.data.code === 0) {
            setAlert('success', '수정되었습니다.');
        } else {
            setAlert('error', res.data.msg);
            if(res.data.code === 6) signOut();
        }
    });
}
</script>