<template>
    <v-skeleton-loader
        v-if="referencesListLoading"
        type="table-thead,table-tbody,table-tbody,table-tbody"
        style="max-height: calc(100vh - 116px); overflow: auto;"
    >
    </v-skeleton-loader>
    <v-table v-if="!referencesListLoading" class="custom-table-width" fixed-header density="comfortable" hover style="max-height: calc(100vh - 154px);">
        <thead>
            <tr>
                <th class="text-center" width="60">번호</th>
                <th class="text-center" width="150">카테고리</th>
                <th class="text-left" width="300">제목</th>
                <th class="text-left" width="800">캠페인 목표</th>
                <th class="text-left" width="150">등록일자</th>
                <th class="text-center" width="110">대표게시물</th>
                <th class="text-center" width="90">사용여부</th>
            </tr>
        </thead>
        <tbody>
            <tr class="hover-pointer" @click="viewReferDialogUpdate(referenceModel.idx)" v-for="referenceModel in referencesList" :key="referenceModel.idx">
                <td class="text-h7 text-center">
                    {{ referenceModel.idx }}
                </td>
                <td class="text-h7 text-center">
                    {{ replaceReferenceCategoryToTxt(referenceModel.category) }}
                </td>
                <td class="text-h7" style="max-width: 400px; text-overflow:ellipsis; overflow:hidden; ">
                    <span style="white-space: nowrap;">{{ referenceModel.title }}</span>
                </td>
                <td class="text-h7" style="max-width: 810px; text-overflow:ellipsis; overflow:hidden; ">
                    <span style="white-space: nowrap;">{{ referenceModel.purpose }}</span>
                </td>
                <td class="text-h7">
                    {{ referenceModel.regDate.split(" ")[0] }}
                </td>
                <td class="text-center">
                    <v-icon v-if="referenceModel.headYn" icon="mdi-circle-outline"></v-icon>
                    <v-icon v-if="!referenceModel.headYn" icon="mdi-close"></v-icon>
                </td>
                <td class="text-center">
                    <v-icon v-if="referenceModel.useYn" icon="mdi-circle-outline"></v-icon>
                    <v-icon v-if="!referenceModel.useYn" icon="mdi-close"></v-icon>
                </td>
            </tr>
            <!-- <tr>
                <td colspan="16" class="align-center">
                    <v-btn block variant="text" fixed-footer density="comfortable" rounded="xl" @click="addReferenceModel.isReferDialog = true" style="height: 100%; width: 100%;"><v-icon icon="mdi-plus"></v-icon>추가</v-btn>
                </td>
            </tr> -->
        </tbody>
        </v-table>
        <div style="background-color: #212121; height: 44px;">
            <v-divider></v-divider>
            <v-btn block variant="text" size="xlarge" rounded="xl" @click="addReferenceModel.isReferDialog = true" style="height: 100%; width: 100%;"><v-icon icon="mdi-plus"></v-icon>추가</v-btn>
        </div>


    <!-- 업데이트  -->
    <v-dialog
        v-model="isViewUpdateReferDialog"
        scrollable
        style="max-width: 1400px; max-height: 900px"
        persistent
    >
        <v-card rounded="xl">
            <v-card-title class="text-h4 mt-2 text-center">
                <span class="d-inline-block mt-2" style="vertical-align: middle;">레퍼런스 수정</span>
                <v-btn class="float-right" @click="isViewUpdateReferDialog = false" variant="text" icon="mdi-close"></v-btn>
            </v-card-title>
            <v-card-text style="min-height: 630px;">
                <v-row>
                    <v-col class="py-2" md="3" sm="6">
                        <v-checkbox
                        v-model="updateReferModel.headYn"
                        label="대표게시물"
                        hide-details
                        />
                        <v-select
                        label="사용여부"
                        color="indigo" 
                        :items="useYnType"
                        item-title="useYnTxt"
                        item-value="useYn"
                        density="compact"
                        variant="outlined"
                        autofocus
                        v-model="updateReferModel.useYn"
                        hide-details
                        />
                    </v-col>
                </v-row>
                <v-divider class="my-5"></v-divider>
                <div class="text-h5">캠페인 정보</div>
                <v-row class=mt-2>
                    <v-col class="py-2" cols="12" sm="3">
                        <v-select
                            label="카테고리"
                            color="indigo" 
                            :items="categoryType"
                            item-title="categoryTxt"
                            item-value="category"
                            density="compact"
                            variant="outlined"
                            autofocus
                            v-model="updateReferModel.category"
                            hide-details
                        />
                    </v-col>
                    <v-col class="py-2" cols="12" sm="9">
                        <v-text-field
                            label="제목"
                            type="text"
                            variant="outlined"
                            density="compact"
                            v-model="updateReferModel.title"
                            hide-details
                        >
                        </v-text-field>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col class="py-2" cols="12" md="6">
                        <div class="d-flex">
                            <v-file-input
                                accept="image/png, image/jpeg, image/bmp"
                                variant="outlined"
                                label="메인이미지"
                                density="compact"
                                v-model="updateReferModel.imgMainRaw"
                                chips
                                show-size
                                hide-details
                                @change="updMainImgReader(updateReferModel)"
                                style="white-space: nowrap;"
                            ></v-file-input>
                            <img v-show="!updateReferModel.imgMainBlob && updateReferModel.imgMain" class="ml-2" :src="imageHost + updateReferModel.imgMain" style="height: 40px;" />
                            <img v-show="updateReferModel.imgMainBlob" class="ml-2" :src="updateReferModel.imgMainBlob" style="height: 40px;" />
                        </div>
                    </v-col>
                    <v-col class="py-2" cols="12" md="6">
                        <div class="d-flex">
                            <v-file-input
                                accept="image/png, image/jpeg, image/bmp"
                                variant="outlined"
                                label="배너이미지"
                                density="compact"
                                v-model="updateReferModel.imgBannerRaw"
                                chips
                                show-size
                                hide-details
                                @change="updBannerImgReader(updateReferModel)"
                                style="white-space: nowrap;"
                            ></v-file-input>
                            <img v-show="!updateReferModel.imgBannerBlob && updateReferModel.imgBanner" class="ml-2" :src="imageHost + updateReferModel.imgBanner" style="height: 40px;" />
                            <img v-show="updateReferModel.imgBannerBlob" class="ml-2" :src="updateReferModel.imgBannerBlob" style="height: 40px;" />
                        </div>
                    </v-col>
                </v-row>
                <div class="mt-5">
                    <v-textarea
                        label="캠페인 목표"
                        rows="2"
                        type="text"
                        variant="outlined"
                        density="compact"
                        v-model="updateReferModel.purpose"
                        hide-details
                    >
                    </v-textarea>
                </div>
                <div class="mt-4">
                    <v-text-field
                        label="캠페인 영상"
                        type="text"
                        variant="outlined"
                        density="compact"
                        placeholder="ID만 입력하세요."
                        v-model="updateReferModel.youtubeUrl"
                        hide-details
                    />
                </div>
                <v-divider class="my-5"></v-divider>
                <div class="text-h5">Chips</div>
                <v-row class="mt-2">
                    <v-col class="py-2" cols="12" lg="4" md="6">
                        <v-text-field
                            label="집행년월(C)"
                            placeholder="yy.mm"
                            type="text"
                            variant="outlined"
                            density="compact"
                            v-model="updateReferModel.chipDate"
                            hide-details
                        />
                    </v-col>
                    <v-col class="py-2" cols="12" lg="4" md="6">
                        <v-text-field
                            label="광고상품(C)"
                            type="text"
                            variant="outlined"
                            density="compact"
                            placeholder="파이프 2개로 구분 (||)"
                            v-model="updateReferModel.chipProduct"
                            hide-details
                        />
                    </v-col>
                    <v-col class="py-2" cols="12" lg="4" md="6">
                        <v-text-field
                            label="상품명(C)"
                            type="text"
                            variant="outlined"
                            density="compact"
                            placeholder="파이프 2개로 구분 (||)"
                            v-model="updateReferModel.chipProductNm"
                            hide-details
                        />
                    </v-col>
                    <v-col class="py-2" cols="12" lg="4" md="6">
                        <v-text-field
                            label="광고플랫폼(C)"
                            type="text"
                            variant="outlined"
                            density="compact"
                            placeholder="파이프 2개로 구분 (||)"
                            v-model="updateReferModel.chipPlatform"
                            hide-details
                        />
                    </v-col>
                    <v-col class="py-2" cols="12" lg="4" md="6">
                        <v-text-field
                            label="장르(C)"
                            type="text"
                            variant="outlined"
                            density="compact"
                            placeholder="파이프 2개로 구분 (||)"
                            v-model="updateReferModel.chipGenre"
                            hide-details
                        />
                    </v-col>
                    <v-col class="py-2" cols="12" lg="4" md="6">
                        <v-text-field
                            label="크리에이터(C)"
                            type="text"
                            variant="outlined"
                            density="compact"
                            placeholder="파이프 2개로 구분 (||)"
                            v-model="updateReferModel.chipCreator"
                            hide-details
                        />
                    </v-col>
                </v-row>
            </v-card-text>
            <v-card-actions>
                <v-row>
                    <v-col cols="6">
                        <v-btn block variant="tonal" color="indigo" density="comfortable" rounded="xl" @click="updateReferenceData(updateReferModel)">저장</v-btn>
                    </v-col>
                    <v-col cols="6">
                        <v-btn block variant="tonal" color="red" density="comfortable" rounded="xl" @click="deleteReferenceData(updateReferModel)">삭제</v-btn>
                    </v-col>
                </v-row>
            </v-card-actions>
        </v-card>
    </v-dialog>


    <!-- 새로 입력 -->
    <v-dialog
        v-model="addReferenceModel.isReferDialog"
        scrollable
        style="max-width: 1400px; max-height: 900px"
        persistent
    >
        <v-card rounded="xl">
            <v-card-title class="text-h4 mt-2 text-center">
                <span class="d-inline-block mt-2" style="vertical-align: middle;">레퍼런스 추가</span>
                <v-btn class="float-right" @click="deleteAddReferenceObj()" variant="text" icon="mdi-close"></v-btn>
            </v-card-title>
            <v-card-text style="min-height: 630px;">
                <v-row>
                    <v-col class="py-2" md="3" sm="6">
                        <v-checkbox
                        v-model="addReferenceModel.headYn"
                        label="대표게시물"
                        hide-details
                        />
                        <v-select
                        label="사용여부"
                        color="indigo" 
                        :items="useYnType"
                        item-title="useYnTxt"
                        item-value="useYn"
                        density="compact"
                        variant="outlined"
                        autofocus
                        v-model="addReferenceModel.useYn"
                        hide-details
                        />
                    </v-col>
                </v-row>
                <v-divider class="my-5"></v-divider>
                <div class="text-h5">캠페인 정보</div>
                <v-row class=mt-2>
                    <v-col class="py-2" cols="12" sm="3">
                        <v-select
                            label="카테고리"
                            color="indigo" 
                            :items="categoryType"
                            item-title="categoryTxt"
                            item-value="category"
                            density="compact"
                            variant="outlined"
                            autofocus
                            v-model="addReferenceModel.category"
                            hide-details
                        />
                    </v-col>
                    <v-col class="py-2" cols="12" sm="9">
                        <v-text-field
                            label="제목"
                            type="text"
                            variant="outlined"
                            density="compact"
                            v-model="addReferenceModel.title"
                            hide-details
                        >
                        </v-text-field>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col class="py-2" cols="12" md="6">
                        <div class="d-flex">
                            <v-file-input
                                accept="image/png, image/jpeg, image/bmp"
                                variant="outlined"
                                label="메인이미지"
                                density="compact"
                                v-model="addReferenceModel.imgMainRaw"
                                chips
                                show-size
                                hide-details
                                @change="mainImgReader(addReferenceModel.imgMainRaw)"
                                style="white-space: nowrap;"
                            ></v-file-input>
                            <img v-show="imgMainSrc" class="ml-2" :src="imgMainSrc" style="height: 40px;" />
                        </div>
                    </v-col>
                    <v-col class="py-2" cols="12" md="6">
                        <div class="d-flex">
                            <v-file-input
                                accept="image/png, image/jpeg, image/bmp"
                                variant="outlined"
                                label="배너이미지"
                                density="compact"
                                v-model="addReferenceModel.imgBannerRaw"
                                chips
                                show-size
                                hide-details
                                @change="bannerImgReader(addReferenceModel.imgBannerRaw)"
                                style="white-space: nowrap;"
                            ></v-file-input>
                            <img v-show="imgBannerSrc" class="ml-2" :src="imgBannerSrc" style="height: 40px;" />
                        </div>
                    </v-col>
                </v-row>
                <div class="mt-5">
                    <v-textarea
                        label="캠페인 목표"
                        rows="2"
                        type="text"
                        variant="outlined"
                        density="compact"
                        v-model="addReferenceModel.purpose"
                        hide-details
                    >
                    </v-textarea>
                </div>
                <div class="mt-4">
                    <v-text-field
                        label="캠페인 영상"
                        type="text"
                        variant="outlined"
                        density="compact"
                        placeholder="ID만 입력하세요."
                        v-model="addReferenceModel.youtubeUrl"
                        hide-details
                    />
                    <!-- <v-text-field
                        label="캠페인 영상"
                        type="text"
                        variant="outlined"
                        density="compact"
                        placeholder="갯수 제한은 없으나 최대 10개가 권장됩니다."
                        v-model="addReferenceModel.youtubeUrl"
                        append-inner-icon="mdi-plus-circle"
                        @click:append-inner="addReferEachModelAppend(addReferenceModel.youtubeUrl, addReferenceModel.youtubeUrls)"
                        hide-details
                    />
                    <v-chip-group style="height: 42px;">
                        <v-chip
                        v-for="( url, i ) in addReferenceModel.youtubeUrls"
                        :text="url"
                        closable
                        v-model="addReferenceModel.youtubeUrls[i]"
                        @click:close="removeYoutubeUrlsIndex(i)"
                        density="comfortable"
                        size="small"
                        />
                    </v-chip-group> -->
                </div>
                <v-divider class="my-5"></v-divider>
                <div class="text-h5">Chips</div>
                <v-row class="mt-2">
                    <v-col class="py-2" cols="12" lg="4" md="6">
                        <v-text-field
                            label="집행년월(C)"
                            placeholder="yy.mm"
                            type="text"
                            variant="outlined"
                            density="compact"
                            v-model="addReferenceModel.chipDate"
                            hide-details
                        />
                    </v-col>
                    <v-col class="py-2" cols="12" lg="4" md="6">
                        <v-text-field
                            label="광고상품(C)"
                            type="text"
                            variant="outlined"
                            density="compact"
                            placeholder="파이프 2개로 구분 (||)"
                            v-model="addReferenceModel.chipProduct"
                            hide-details
                        />
                    </v-col>
                    <v-col class="py-2" cols="12" lg="4" md="6">
                        <v-text-field
                            label="상품명(C)"
                            type="text"
                            variant="outlined"
                            density="compact"
                            placeholder="파이프 2개로 구분 (||)"
                            v-model="addReferenceModel.chipProductNm"
                            hide-details
                        />
                    </v-col>
                    <v-col class="py-2" cols="12" lg="4" md="6">
                        <v-text-field
                            label="광고플랫폼(C)"
                            type="text"
                            variant="outlined"
                            density="compact"
                            placeholder="파이프 2개로 구분 (||)"
                            v-model="addReferenceModel.chipPlatform"
                            hide-details
                        />
                    </v-col>
                    <v-col class="py-2" cols="12" lg="4" md="6">
                        <v-text-field
                            label="장르(C)"
                            type="text"
                            variant="outlined"
                            density="compact"
                            placeholder="파이프 2개로 구분 (||)"
                            v-model="addReferenceModel.chipGenre"
                            hide-details
                        />
                    </v-col>
                    <v-col class="py-2" cols="12" lg="4" md="6">
                        <v-text-field
                            label="크리에이터(C)"
                            type="text"
                            variant="outlined"
                            density="compact"
                            placeholder="파이프 2개로 구분 (||)"
                            v-model="addReferenceModel.chipCreator"
                            hide-details
                        />
                    </v-col>
                </v-row>
            </v-card-text>
            <v-card-actions>
                <v-row>
                    <v-col cols="12">
                        <v-btn block variant="tonal" color="indigo" density="comfortable" rounded="xl" @click="insertAddReference()">저장</v-btn>
                    </v-col>
                    <!-- <v-col cols="6">
                        <v-btn block variant="tonal" density="comfortable" rounded="xl" @click="deleteAddReferenceObj()">취소</v-btn>
                    </v-col> -->
                </v-row>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script setup>
import { ref, onMounted, defineEmits } from 'vue';
import { httpPostAxiosWithJWT, checkToken, signOut } from '@/components/CommonAPI.js';
import { replaceReferenceCategoryToTxt } from '@/common/common.js';
const imageHost = import.meta.env.VITE_APP_IMAGE_SERVICE_HOST;

const emit = defineEmits(["setAlert"]);
const setAlert = (alertType, alertText) => {
    emit("setAlert", alertType, alertText);
}

const referencesListLoading = ref(true);
const referencesList = ref([]);

const useYnType = ref([
    { useYn: true, useYnTxt: '사용' },
    { useYn: false, useYnTxt: '사용안함' },
]);

const categoryType = ref([
    { category: 'BANNER', categoryTxt: '배너광고' },
    { category: 'LIVE', categoryTxt: '라이브방송' },
    { category: 'CAST', categoryTxt: '출연섭외' },
    { category: 'NEWS', categoryTxt: '뉴스' },
    { category: 'CBT&QA', categoryTxt: 'CBT&QA' },
]);

onMounted(() => {
    checkToken();
    getReferenceDataList();
})

const getReferenceDataList = () => {
    const endpoints = "/api/home/admin/reference/getReferenceDataList"
    httpPostAxiosWithJWT(endpoints).then(res => {
        referencesListLoading.value = false;
        if(res.data.code === 0) {
            referencesList.value = res.data.DATA;
        } else {
            setAlert('error', res.data.msg);
            if(res.data.code === 6) signOut();
        }
    });
}

const addReferenceModel = ref({
    category: 'BANNER',
    title: '',
    purpose: '',
    youtubeUrl: '',
    imgMainRaw: '',
    imgBannerRaw: '',
    imgMainBlob: '',
    imgBannerBlob: '',
    chipDate: '',
    chipProduct: '',
    chipProductNm: '',
    chipPlatform: '',
    chipGenre: '',
    chipCreator: '',
    headYn: false,
    useYn: true,
    isReferDialog: false
});

const deleteAddReferenceObj = () => {
    addReferenceModel.value.isReferDialog = false;
    initAddReferenceModel();
}

const initAddReferenceModel = () => {
    addReferenceModel.value = {
        category: 'BANNER',
        title: '',
        purpose: '',
        youtubeUrl: '',
        youtubeUrls: [],
        imgMainNm: '',
        imgMainRaw: '',
        imgMainBlob: '',
        imgBannerNm: '',
        imgBannerRaw: '',
        imgBannerBlob: '',
        chipDate: '',
        chipProduct: '',
        chipProductNm: '',
        chipPlatform: '',
        chipGenre: '',
        chipCreator: '',
        headYn: false,
        useYn: true,
        isReferDialog: false
    }
}

const addReferModelYoutubeUrlAppend = () => {
    if(!addReferenceModel.value.youtubeUrl) {
        return false;
    }
    
    for(let i = 0; i < addReferenceModel.value.youtubeUrls.length; i++) {
        if (addReferenceModel.value.youtubeUrls[i] === addReferenceModel.value.youtubeUrl) {
            addReferenceModel.value.youtubeUrl = '';
            setAlert('error', '이미 존재하는 ID입니다.');
            return false;
        }
    }
    addReferenceModel.value.youtubeUrls.push(addReferenceModel.value.youtubeUrl);
    addReferenceModel.value.youtubeUrl = '';
}

const addReferEachModelAppend = (txt, txts) => {
    if(!txt) {
        return false;
    }
    
    for(let i = 0; i < txts.length; i++) {
        if (txts[i] === txt) {
            txt = '';
            setAlert('error', '이미 존재하는 ID입니다.');
            return false;
        }
    }
    txts.push(txt);
    txt = '';
    return true;
}

// const removeYoutubeUrlsIndex = (i) => {
//     console.log(addReferenceModel.value.youtubeUrls);
// }

const insertReferenceLoading = ref(false);
const insertAddReference = () => {

    if(!addReferenceModel.value.title) {
        setAlert('error', '제목을 입력해주세요.');
        return false;
    }

    addReferenceModel.value.imgMainNm = addReferenceModel.value.imgMainRaw.name;
    addReferenceModel.value.imgBannerNm = addReferenceModel.value.imgBannerRaw.name;

    addReferenceModel.value.imgMainBlob = imgMainSrc.value;
    addReferenceModel.value.imgBannerBlob = imgBannerSrc.value;

    insertReferenceLoading.value = true;
    const endpoints = "/api/home/admin/reference/insertReferenceData";
    httpPostAxiosWithJWT(endpoints, addReferenceModel.value).then(res => {
        insertReferenceLoading.value = false;
        const data = res.data;
        const code = data.code;
        if(code === 0) {
            getReferenceDataList();
            setAlert('success', '입력되었습니다.');

            initAddReferenceModel();
            imgMainSrc.value = "";
            imgBannerSrc.value = "";
            addReferenceModel.isReferDialog = false
        } else {
            setAlert('error', data.msg);
            if(code === 6) signOut();
        }
    });
}

const isViewUpdateReferDialog = ref(false);
const updateReferModel = ref({});
const viewReferDialogUpdate = (referNo) => {
    isViewUpdateReferDialog.value = true;
    const endpoints = "/api/home/admin/reference/getReferenceData"
    const param = {
        'idx': referNo
    }
    httpPostAxiosWithJWT(endpoints, param).then(res => {
        if(res.data.code === 0) {
            updateReferModel.value = res.data.DATA;
        } else {
            setAlert('error', res.data.msg);
            if(res.data.code === 6) signOut();
        }
    });
}

const updateReferenceData = (model) => {
    if(!confirm('수정하시겠습니까?')) {
        return false;
    }

    if(!model.title) {
        setAlert('error', '제목을 입력해주세요.');
        return false;
    }

    if(model.imgMainRaw) model.imgMainNm = model.imgMainRaw[0].name;
    if(model.imgBannerRaw) model.imgBannerNm = model.imgBannerRaw[0].name;

    model.updateReferenceLoading = true;
    const endpoints = "/api/home/admin/reference/updateReferenceData";
    httpPostAxiosWithJWT(endpoints, model).then(res => {
        model.updateReferenceLoading = false;
        const data = res.data;
        const code = data.code;
        if(code === 0) {
            getReferenceDataList();
            setAlert('success', '입력되었습니다.');
            isViewUpdateReferDialog.value = false;
        } else {
            setAlert('error', data.msg);
            if(code === 6) signOut();
        }
    });
}

const deleteReferenceData = (model) => {
    if(!confirm('정말 삭제하시겠습니까?')) {
        return false;
    }

    model.deleteReferenceLoading = true;
    const endpoints = "/api/home/admin/reference/deleteReferenceData"
    const param = {
        'idx': model.idx
    }
    httpPostAxiosWithJWT(endpoints, param).then(res => {
        model.deleteReferenceLoading = false;
        const data = res.data;
        const code = data.code;
        if(code === 0) {
            getReferenceDataList();
            setAlert('success', '삭제되었습니다.');
            if(isViewUpdateReferDialog.value) {
                isViewUpdateReferDialog.value = false;
            }
        } else {
            setAlert('error', data.msg);
            if(code === 6) signOut();
        }
    });
}

const imgMainSrc = ref();
const imgBannerSrc = ref();
const mainImgReader = (file) => {
    if(file) {
        const reader = new FileReader()

        if(file) {
            reader.readAsDataURL(file);
        }
        reader.onload = (e) => {
            const imgObj = e.target.result;
            imgMainSrc.value = imgObj;
        }
    }
    
}

const bannerImgReader = (file) => {
    if(file) {
        const reader = new FileReader()

        if(file) {
            reader.readAsDataURL(file);
        }
        reader.onload = (e) => {
            const imgObj = e.target.result;
            imgBannerSrc.value = imgObj;
        }
    }
}

const updMainImgReader = (model) => {
    if(model.imgMainRaw[0]) {
        const reader = new FileReader()

        if(model.imgMainRaw[0]) {
            reader.readAsDataURL(model.imgMainRaw[0]);
        }
        reader.onload = (e) => {
            const imgObj = e.target.result;
            model.imgMainBlob = imgObj;
        }
    }
}

const updBannerImgReader = (model) => {
    if(model.imgBannerRaw[0]) {
        const reader = new FileReader()

        if(model.imgBannerRaw[0]) {
            reader.readAsDataURL(model.imgBannerRaw[0]);
        }
        reader.onload = (e) => {
            const imgObj = e.target.result;
            model.imgBannerBlob = imgObj;
        }
    }
}
</script>

<style scoped>
.custom-table-width :deep(table) {
    width: 1700px !important;
    min-width: 100%;
}
.custom-text-field :deep(.v-field__input) {
    padding: 4px !important;
}
.custom-text-field :deep(.v-field.v-field--appended) {
    --v-field-padding-end: 6px !important;
}
.custom-text-field :deep(.v-select__selection) {
    margin-top: 1px !important;
    margin-bottom: 1px !important;
}
</style>