<template>
    <div class="my-10 full-width">
        <v-container>
            <v-row class="mb-5" no-gutters align="center" style="justify-content: center;">
                <v-col xxl="3" xl="3" lg="5" md="6" sm="8" sx="12" align="center">
                    <div @click="toRoute('Home')">
                        <img class="mobile-display-none hover-pointer py-7 px-10" src="@/assets/img/logo/Logo_horizon.png" style="width: 400px; filter: brightness(0) invert(0.9)">
                        <img class="desktop-display-none hover-pointer py-7 px-10" src="@/assets/img/logo/Logo_horizon.png" style="width: 100%; filter: brightness(0) invert(0.9)">
                    </div>
                    <v-card
                        class="mx-auto pa-6 pb-4"
                        elevation="8"
                        rounded="lg"
                        :loading="isSignInCardLoading"
                    >
                        <div class="text-subtitle-1 text-medium-emphasis text-left">계정</div>
                        <v-text-field
                            density="compact"
                            placeholder="아이디"
                            prepend-inner-icon="mdi-identifier"
                            v-model="userModel.username"
                            variant="outlined"
                            color="indigo"
                            autocapitalize="off"
                        ></v-text-field>

                        <div class="text-subtitle-1 text-medium-emphasis d-flex justify-space-between">
                            비밀번호
                        </div>

                        <v-text-field
                            :append-inner-icon="visible ? 'mdi-eye-off' : 'mdi-eye'"
                            :type="visible ? 'text' : 'password'"
                            autocapitalize="off"
                            density="compact"
                            placeholder="비밀번호"
                            prepend-inner-icon="mdi-lock-outline"
                            v-model="userModel.password"
                            variant="outlined"
                            color="indigo"
                            @click:append-inner="visible = !visible"
                            @keyup.enter="getToken"
                        ></v-text-field>

                        <v-btn
                            block
                            class="my-4"
                            color="blue"
                            size="large"
                            variant="tonal"
                            rounded="xl"
                            :loading="isSignInCardLoading"
                            @click="getToken"
                        >
                            로그인
                        </v-btn>
                        <!-- <v-card-text class="text-center">
                            <v-btn
                            class="text-blue"
                            rel="noopener noreferrer"
                            variant="text"
                            color="indigo"
                            @click="goSignUp(false)"
                            >
                            회원가입
                            <v-icon icon="mdi-chevron-right"></v-icon>
                            </v-btn>
                        </v-card-text> -->
                        <v-scroll-x-transition>
                            <v-alert
                                v-model="alertRefSet.isAlert"
                                :type="alertRefSet.alertType"
                                closable
                                close-label="Close Alert"
                                :text="alertRefSet.alertMsg"
                                @click:close="alertRefSet.isAlert = false"
                                style="word-break: keep-all;"
                            />
                        </v-scroll-x-transition>
                    </v-card>
                    <!-- <div class="text-center text-h6 font-weight-light">
                        <br>관리자계정<br>admin // 123123
                    </div> -->
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>

<script setup>
import { onMounted, ref } from 'vue';
import { useRouter } from 'vue-router';
import { useAuthStore } from "@/store/auth";
import { httpPostAxios } from '@/components/CommonAPI.js';

const router = useRouter();
const authStore = useAuthStore();
const visible = ref(false);

const { message, msgType } = history.state;

// 경고창 관리 오브젝트
const alertRefSet = ref({
    alertMsg: '',
    alertTitle: '',
    isAlert: false,
    alertType: 'error'
});

const showAlert = (type, msg) => {
    alertRefSet.value.alertType = type;
    alertRefSet.value.alertMsg = msg;
    alertRefSet.value.isAlert = true;
}

const userModel = ref({
    username: '',
    password: '',
})

onMounted(() => {
    if(message) {
        showAlert(msgType, message);
    }
})

const isSignInCardLoading = ref(false);

const getToken = () => {
    isSignInCardLoading.value = true;
    const { target } = history.state;
    const endpoints = "/api/home/admin/user/authLogin";
    httpPostAxios(endpoints, userModel.value).then(res => {
        const data = res.data;
        const code = data.code;
        isSignInCardLoading.value = false;
        if(code === 0) {
            const userDetail = data.DATA;
            const userType = userDetail.userType;
            authStore.token = res.data.jwtToken;
            authStore.userDetail = userDetail;
            authStore.info.userDetail = userDetail;
            authStore.info.token = res.data.jwtToken;
            if(userType === 'ADMIN') {
                if(!target) {
                    router.replace({ name: 'Admin' });
                } else {
                    router.replace({ name: target });
                }
            }
        } else if(code === 1) {
            showAlert('info', data.msg);
        } else {
            showAlert('error', data.msg);
        }
    });
}
</script>