<template>
    <v-app-bar class="app-bar-wrap" color="primary" scroll-behavior="hide" scroll-threshold="30" :elevation="4">
        <v-app-bar-title class="app-bar-wrap-title">
            <v-row no-gutters align="center">
                <v-col cols="2">
                    <div @click="toRoute('Admin')" class="text-h3 font-weight-thin pa-2">
                        <span class="mobile-display-none" style="cursor: pointer;">ADMIN</span>
                        <span class="desktop-display-none" style="cursor: pointer; line-height: 1rem !important;">ADMIN</span>
                    </div>
                </v-col>
                <v-col class="mobile-display-none text-right" cols="10" align="right">
                    <v-btn class="text-h6 font-weight-light" prepend-icon="mdi-logout" size="large" variant="text" @click="signOut()">로그아웃</v-btn>
                </v-col>
                <v-col cols="5" md="2" offset-md="4" offset="5" align="right">
                    <span class="mobile-display-none">
                    </span>
                    <v-btn
                        class="desktop-display-none"
                        icon="mdi-dots-vertical"
                    >
                        <v-icon icon="mdi-dots-vertical"></v-icon>
                        <v-dialog
                            v-model="menuDialog"
                            activator="parent"
                            width="100%"
                            style="top: 0px;"
                        >
                            <v-card rounded="xl">
                                <v-card-title>
                                    <span class="text-h5">MENU</span>
                                </v-card-title>
                                <v-card-text>
                                    <MenuList />
                                </v-card-text>
                                <v-card-actions>
                                    <v-btn color="red" block @click="menuDialog = false">Close</v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                    </v-btn>
                </v-col>
            </v-row>
        </v-app-bar-title>
    </v-app-bar>
</template>

<script setup>
import MenuList from './Menu'
import { onMounted, ref } from 'vue';
import { useRouter } from 'vue-router';
import { useAuthStore } from "@/store/auth";
import { useAppStore } from "@/store/app";

const router = useRouter();
const authStore = useAuthStore();
const appStore = useAppStore();

const menuDialog = ref(false);

const signOut = () => {
    menuDialog.value = false;
    authStore.$reset();
    const to = { name: 'SignIn' };
    router.push(to);
}

onMounted(() => {
    
});
</script>

<style scoped>
.app-bar-wrap {
    height: 60px;
}
</style>