<template>
  <v-footer class="pa-1 text-center d-flex flex-column" color="primary" style="max-height: 50px; z-index:2;">
    <div class="text-font-normal" style="font-size: 14px;">
      Copyright © 2024. Development by dogpoo.net.
      <div v-if="width >= 343" style="color: white">
        This site is optimized for the latest browser.
      </div>
    </div>
  </v-footer>
</template>

<script setup>
import { useDisplay } from 'vuetify';
const { width } = useDisplay();
</script>