<template>
    <div class="mt-6 text-h6 mobile-display-none">
        <img src="@/assets/img/logo/logo.png" width="20"/>
        FANDOM
    </div>
    <v-btn class="text-h6 font-weight-light full-width justify-start mt-2" prepend-icon="mdi-home" size="large" variant="text" @click="toRoute('Admin')">ADMIN</v-btn>
    <v-btn class="text-h6 font-weight-light full-width justify-start" prepend-icon="mdi-home" size="large" variant="text" @click="toRoute('Home')">HOME</v-btn>
    <v-divider class="border-opacity-30 mx-4 my-2"></v-divider>
    <v-btn class="text-h6 font-weight-light full-width justify-start" prepend-icon="mdi-podium-gold" size="large" variant="text" @click="parentMenuClickHandler('DATA')">데이터</v-btn>
    <div class="d-flex full-width" style="max-width: 100%;">
        <v-divider class="border-opacity-30 ml-4" vertical></v-divider>
        <v-expand-transition>
            <div v-show="showMenuModel.isShowMenuData" style="transition: all 2s;">
                <v-btn class="text-h7 px-3 font-weight-light justify-start full-width" variant="text" @click="toRoute('CreatorsData')">Creators</v-btn>
                <v-btn class="text-h7 px-3 font-weight-light justify-start full-width" variant="text" @click="toRoute('ContactData')">Contact</v-btn>
                <v-btn class="text-h7 px-3 font-weight-light justify-start full-width" variant="text" @click="toRoute('ReferenceData')">Reference</v-btn>
                <!-- <v-btn class="text-h7 px-3 font-weight-light justify-start full-width" variant="text" @click="toRoute('FooterData')">Footer</v-btn> -->
            </div>
        </v-expand-transition>
    </div>

    <v-btn class="text-h6 font-weight-light full-width justify-start" prepend-icon="mdi-download" size="large" variant="text" @click="parentMenuClickHandler('ETC')">기타</v-btn>
    <div class="d-flex full-width" style="max-width: 100%;">
        <v-divider class="border-opacity-30 ml-4" vertical></v-divider>
        <v-expand-transition>
            <div v-show="showMenuModel.isShowMenuEtc" style="transition: all 2s;">
                <v-btn class="text-h7 px-3 font-weight-light justify-start full-width" variant="text" @click="toRoute('ExcelDownload')">엑셀 다운로드</v-btn>
            </div>
        </v-expand-transition>
    </div>
    <div class="desktop-display-none">
        <v-divider class="border-opacity-30 mx-4 my-2"></v-divider>
        <v-btn class="text-h6 font-weight-light full-width justify-start" prepend-icon="mdi-logout" size="large" variant="text" @click="signOut()">로그아웃</v-btn>
    </div>
</template>

<script setup>
import { ref } from 'vue';
import { useRouter } from 'vue-router';
import { useAuthStore } from "@/store/auth";
import { useAppStore } from "@/store/app";
import { useTheme } from 'vuetify'

const theme = useTheme()
const authStore = useAuthStore();

const toggleTheme = (themeNm) => {
    theme.global.name.value = themeNm;
}

const signOut = () => {
    authStore.$reset();
    const to = { name: 'Home' };
    router.push(to);
}

const router = useRouter();
const appStore = useAppStore();
const showMenuModel = ref(appStore.showMenuModel);

const closeAllSubmenu = () => { 
    for(const key in showMenuModel.value) {
        showMenuModel.value[key] = false;
    }
}

if('Home' === router.currentRoute.value.name) {
    closeAllSubmenu();
}

const parentMenuClickHandler = (menuNm) => {
    if('DATA' === menuNm) {
        if(!showMenuModel.value.isShowMenuData) closeAllSubmenu();
        showMenuModel.value.isShowMenuData = !showMenuModel.value.isShowMenuData
    } else if('ETC' === menuNm) {
        if(!showMenuModel.value.isShowMenuEtc) closeAllSubmenu();
        showMenuModel.value.isShowMenuEtc = !showMenuModel.value.isShowMenuEtc
    } else {

    }
}
</script>