<template>
    <div class="d-flex text-center align-center" :style="{ 'background': 'url(' + getImagePath() + ') no-repeat center / cover', 'width': width + 'px', 'height': '100svh' }">
        <v-container class="py-10" style="backdrop-filter: blur(10px) contrast(0.7);">
            <div id="lastContent" :class="{ 'text-h3': true, 'text-center': true, 'animated-1': true, 'fadeInUp': isLastContentView, 'fadeOutDown': !isLastContentView }" style="word-break: keep-all;">
                게이머들의 천국,<br>
                게임 전문 MCN 팬덤메이크
            </div>
            <div :class="{ 'text-h5': true, 'mt-12': true, 'animated-2': true, 'fadeInUp': isLastContentView, 'fadeOutDown': !isLastContentView }">
                게이머들의 취향과 관심사에 맞는<br>
                더 넓은 게임 세계를 경험할 수 있는 기회를,<br>
                우리 팬덤메이크와 함께!
            </div>
            <v-btn @click="toRoute('Contact')" :class="{ 'mt-12': true, 'animated-3': true, 'fadeInUp': isLastContentView, 'fadeOutDown': !isLastContentView }" size="x-large" variant="outlined">Contact</v-btn>
        </v-container>
    </div>
    
</template>

<script setup>
import { ref, onMounted } from 'vue';
import { useDisplay } from 'vuetify';

const { width } = useDisplay();

onMounted(() => {
    document.addEventListener('scroll', scrollHandler);
});

const isLastContentView = ref(false);
function scrollHandler() {
    const lastContent = document.querySelector('#lastContent');
    if(!lastContent) return false;
    isLastContentView.value = window.innerHeight > lastContent.getBoundingClientRect().top + 100;
}

const getImagePath = function() {
    // return new URL(`/src/assets/img/bg/main-down-bg-1920.jpg`, import.meta.url).href;
    return new URL(`/src/assets/img/bg/main-below-bg-1080.jpg`, import.meta.url).href;
}

</script>

<style scoped>
.contact-section-backdrop {
    -webkit-backdrop-filter: blur(10px) contrast(0.7);
    backdrop-filter: blur(10px) contrast(0.7);
}
</style>