<template>
    <carousel :itemsToShow="carouselViewCnt" :autoplay="2000" :transition="500" :wrap-around="true">
        <slide v-if="creatorCardLoading" v-for="i in 10" :key="i">
            <v-skeleton-loader
            class="shadow-sm word-keep-all product-card-inner ma-3 carousel__item"
            width="100%"
            type="image, image, article"
            >
            </v-skeleton-loader>
        </slide>
        <slide v-if="!creatorCardLoading" v-for="creatorTopModel in creatorTopTenList" :key="creatorTopModel.idx">
            <v-hover v-slot="{ isHovering, props }">
                <v-card 
                    class="shadow-sm word-keep-all product-card-inner ma-3 carousel__item"
                    v-bind="props"
                    :style="hoverTransition(isHovering)"
                    variant="tonal"
                >
                    <v-img
                        height="50%"
                        :src="creatorTopModel.youtubeFace"
                        cover
                        class="text-white"
                    />
                    <v-card-title class="text-h5 mt-2 font-weight-black">{{ creatorTopModel.creatorNm }}</v-card-title>
                    <v-card-subtitle class="text-h6 mb-5">
                        <div class="mb-1">유튜브 : {{ creatorTopModel.youtubeSubsCnt }}</div>
                        <div>아프리카 : {{ creatorTopModel.africaSubsCnt ? numberComma(creatorTopModel.africaSubsCnt) : 'X' }}</div>
                    </v-card-subtitle>
                </v-card>
            </v-hover>
        </slide>
    </carousel>
</template>

<script setup>
import { ref, onMounted } from 'vue';
import { httpPostAxios } from '@/components/CommonAPI.js';
import 'vue3-carousel/dist/carousel.css';
import { Carousel, Slide, Pagination, Navigation } from 'vue3-carousel';
import { numberComma } from '@/common/common.js';
import { useDisplay } from 'vuetify';

const { xs, sm, md, lg, xl, width } = useDisplay();
const carouselViewCnt = ref(3.95);
if(xl.value) {
    carouselViewCnt.value = 3.95;
} else if(lg.value) {
    carouselViewCnt.value = 3.3;
} else if(md.value) {
    carouselViewCnt.value = 2.5;
} else if(sm.value) {
    carouselViewCnt.value = 1.95;
} else if(xs.value && width.value >= 300) {
    carouselViewCnt.value = 1.3;
} else {
    carouselViewCnt.value = 1;
}

onMounted(() => {
    getBestCreatorTopTenList();
});

function hoverTransition(isHovering) {
    return {width: '100%', bottom: isHovering ? '10px' : 0, transition: 'all 0.2s'}
}

const creatorCardLoading = ref(true);
const creatorTopTenList = ref();

const getBestCreatorTopTenList = () => {
    const endpoints = "/api/homepage/creator/getBestCreatorTopTenList"
    httpPostAxios(endpoints).then(res => {
        if(res.data.code === 0) {
            creatorCardLoading.value = false;
            creatorTopTenList.value = res.data.DATA;
        } else {
            showAlert('error', res.data.msg);
        }
    });
}
</script>