<template>
    <div class="pb-16" style="background-color: #000;">
        <v-container>
            <div id="firstContent" :class="{ 'text-center': true, 'animated-1': true, 'fadeInUp': isFirstContentView, 'fadeOutDown': !isFirstContentView }">
                <div class="text-h5 mt-10">
                    ABOUT
                </div>
                <span class="text-h3 font-weight-black">TOP CREATORS</span>
            </div>
        </v-container>
        <div :class="{ 'my-10': true, 'animated-2': true, 'fadeInUp': isFirstContentView, 'fadeOutDown': !isFirstContentView }">
            <CreatorCardCarousel />
        </div>
    </div>
</template>

<script setup>
import CreatorCardCarousel from './CreatorCardCarousel.vue';
import { ref, onMounted } from 'vue';

const isFirstContentView = ref(false);

onMounted(() => {
    document.addEventListener('scroll', scrollHandler);
});

function scrollHandler() {
    const firstContent = document.querySelector('#firstContent');
    if(!firstContent) return false;
    isFirstContentView.value = window.innerHeight > firstContent.getBoundingClientRect().top + 100;
}
</script>