<template>
    <MainView />
    <CreatorCardView />
    <ContactSection />
</template>

<script setup>
import MainView from './MainView.vue';
import CreatorCardView from './CreatorCardView.vue';
import ContactSection from './ContactSection.vue';
</script>