<template>
    <video-background 
    class="mobile-display-none d-flex align-center"
    :src="getVideoPath()"
    overlay="linear-gradient(180deg,#2a4ae430,#fb949e6b)"
    :style="{ 'width': width + 'px', 'height': '100vh' }"
    >
    <div style="margin-top: 100px;"></div> <!-- 윗줄 비우는 용도 -->
        <v-container>
            <!-- <div class="text-center" style="margin-top: calc(100vh / 2 - 250px); height: 100vh;"> -->
            <div class="text-center" style="margin-top: calc(100vh / 2 - 300px); height: 100vh;">
                <div class="text-h1 animated-1 fadeInUp font-weight-black">
                    MAKE A SENSATION<br>
                    FANDOM MAKE
                </div>
                <div class="text-h4 mt-8 animated-2 fadeInUp">
                    새로운 센세이션으로 인도하는 크리에이터 매니지먼트 <br>
                    완전한 하나의 팬덤을 만들어가는 팬덤메이크
                </div>
                <v-btn @click="toRoute('Contact')" class="mt-8 animated-3 fadeInUp" size="x-large" variant="outlined">Contact</v-btn>
                <!-- <v-btn @click="getVideoPath()" class="mt-7 animated-3 fadeInUp" size="large" variant="outlined">Change</v-btn> -->
            </div>
        </v-container>
    </video-background>
    <video-background 
    class="desktop-display-none"
    :src="getVideoPath()"
    overlay="linear-gradient(180deg,#2a4ae430,#fb949e6b)"
    style="height: 100svh;"
    >
    <div style="margin-top: 100px;"></div> <!-- 윗줄 비우는 용도 -->
        <v-container>
            <div class="text-center" style="margin-top: calc(100svh / 2 - 250px); height: 100svh;">
                <div class="text-h2 animated-1 fadeInUp">
                    MAKE A SENSATION<br>
                    FANDOM MAKE
                </div>
                <div class="text-h5 mt-7 animated-2 fadeInUp" style="word-break: keep-all;">
                    새로운 센세이션으로 인도하는 <span class="d-inline-block"> 크리에이터 매니지먼트<span :style=" { 'display': width < 437 ? 'unset' : 'none' } ">,</span></span><br>
                    완전한 하나의 팬덤을 <span class="d-inline-block"> 만들어가는 팬덤메이크</span>
                </div>
                <v-btn @click="toRoute('Contact')" class="mt-7 animated-3 fadeInUp" size="large" variant="outlined">Contact</v-btn>
                <!-- <v-btn @click="getVideoPath()" class="mt-7 animated-3 fadeInUp" size="large" variant="outlined">Change</v-btn> -->
            </div>
        </v-container>
    </video-background>
</template>

<script setup>
import '@/styles/bg_trans.scss';
import '@/styles/animate.css';
import { useDisplay } from 'vuetify';

const { width } = useDisplay();

const getVideoPath = function() {
    return new URL(`/src/assets/video/120172-720504774.mp4`, import.meta.url).href;
}
// const videoIdx = ref(0);
// const videoArr = ref(
//     [
//         new URL(`/src/assets/video/Squares - 4139.mp4`, import.meta.url).href,
//         new URL(`/src/assets/video/Circle - 1124.mp4`, import.meta.url).href,
//         new URL(`/src/assets/video/5191-183786485.mp4`, import.meta.url).href,
//         new URL(`/src/assets/video/9809-221185519.mp4`, import.meta.url).href,
//         new URL(`/src/assets/video/55859-504238916.mp4`, import.meta.url).href,
//         new URL(`/src/assets/video/12884-242487532.mp4`, import.meta.url).href,
//         new URL(`/src/assets/video/120172-720504774.mp4`, import.meta.url).href,
//         new URL(`/src/assets/video/9811-221185510_small.mp4`, import.meta.url).href,
//         new URL(`/src/assets/video/Background - 7684.mp4`, import.meta.url).href,
//     ]
// );
// const videoUrl = ref(videoArr.value[0]);
// const getVideoPath = () => {
//     videoIdx.value++;
//     if(videoIdx.value === videoArr.value.length) {
//         videoIdx.value = 0;
//     }
//     videoUrl.value = videoArr.value[videoIdx.value];
// }

</script>