<template>
    <div class="mobile-display-none" style="height: 20px; margin-top: 30px;"></div>
    <v-row class="py-16 my-10 px-5" no-gutters>
        <v-col offset="0" offset-md="2" cols="12" md="8">
            <v-row no-gutters align="center">
                <v-col cols="12" md="4" align="center">
                    <div class="text-h2 font-weight-black">CONTACT</div>
                    <div class="text-h4">비즈니스/광고 문의</div>
                </v-col>
                <v-col cols="1"></v-col>
                <v-col class="mt-10" cols="12" md="7">
                    <v-row>
                        <v-col cols="12" sm="7">
                            <v-select
                            label="문의 유형 *"
                            variant="outlined"
                            :items="['비즈니스 문의', '광고 문의', '기타 문의']"
                            v-model="contactMessageModel.contactType"
                            :focused="contactMessageFocusedModel.contactType"
                            hide-details
                            ></v-select>
                        </v-col>
                        <v-col cols="12" sm="7">
                            <v-text-field 
                            variant="outlined"
                            label="성함 또는 채널명 *"
                            placeholder="이름을 입력하세요."
                            hide-details
                            v-model="contactMessageModel.contacter"
                            :focused="contactMessageFocusedModel.contacter"
                            clearable></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="7">
                            <v-text-field
                            variant="outlined"
                            label="이메일 *"
                            placeholder="이메일을 입력하세요."
                            hide-details
                            v-model="contactMessageModel.contacterEmail"
                            :focused="contactMessageFocusedModel.contacterEmail"
                            clearable></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="5">
                            <v-text-field
                            variant="outlined"
                            label="연락처 *"
                            placeholder="숫자만 입력하세요."
                            hide-details
                            v-model="contactMessageModel.contacterPhone"
                            :focused="contactMessageFocusedModel.contacterPhone"
                            clearable></v-text-field>
                        </v-col>
                        <v-col cols="12">
                            <v-text-field
                            variant="outlined"
                            label="URL"
                            placeholder="보유한 채널이나 사이트의 URL을 입력하세요. (선택)"
                            hide-details
                            v-model="contactMessageModel.contacterUrl"
                            :focused="contactMessageFocusedModel.contacterUrl"
                            clearable></v-text-field>
                        </v-col>
                        <v-col cols="12">
                            <v-textarea
                            variant="outlined"
                            label="문의내용 *"
                            placeholder="1,000자 이내로 작성하여 주시기 바랍니다."
                            hide-details
                            v-model="contactMessageModel.contactMessage"
                            :focused="contactMessageFocusedModel.contactMessage"
                            ></v-textarea>
                        </v-col>
                        <v-col cols="12" sm="3" offset-sm="9">
                            <v-btn
                            size="large"
                            variant="tonal"
                            color="indigo-lighten-3"
                            @click="submitContactClickHandler()"
                            block
                            >전송</v-btn>
                        </v-col>
                    </v-row>
                </v-col>
            </v-row>
            <v-divider class="my-16 py-6" style="opacity: 0.3;"></v-divider>
        
            <div class="mb-10">
                <v-row no-gutters align="center">
                    <v-col class="desktop-display-none mb-8" cols="12" md="6">
                        <div>
                            <div class="text-h3">팬덤메이크 <span class="text-title">오시는 길</span></div>
                            <v-divider class="my-3" style="opacity: 0.3;"></v-divider>
                            <div class="text-h6 mb-6" style="word-break: keep-all;"><v-icon icon="mdi-map-marker" class="mr-2"></v-icon>서울시 구로구 디지털로 31길20<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;에이스테크노타워 5차 609호</div>
                            <div class="text-h6 mb-6"><v-icon icon="mdi-phone" class="mr-2"></v-icon>카카오톡ID : FM7777</div>
                            <div class="text-h6"><v-icon icon="mdi-mail" class="mr-2"></v-icon>FM7777@FANDOMMAKE.COM</div>
                        </div>
                    </v-col>
                    <v-col cols="12" md="6">
                        <GoogleMap
                        api-key="AIzaSyDseD34Qqbi7knzFLtNm4mOq8PN09xe-Gs"
                        style="width: 100%; height: 500px"
                        :center="center"
                        :zoom="17"
                        >
                            <Marker :options="markerOptions">
                                <InfoWindow v-model="infoWin" :options="{ position: center }"  style="color: #333;">
                                    <div class="text-h6">(주)팬덤메이크</div>
                                    <p>서울특별시 구로구 디지털로 31길20 (에이스테크노타워 5차) 609호</p>
                                </InfoWindow>
                            </Marker>
                        </GoogleMap>
                    </v-col>
                    <v-col class="mobile-display-none" cols="12" md="6">
                        <div class="ml-5">
                            <div class="text-h4">팬덤메이크 <span class="text-title">오시는 길</span></div>
                            <v-divider class="my-6" style="opacity: 0.3;"></v-divider>
                            <div class="text-h6 mb-6" style="word-break: keep-all;"><v-icon icon="mdi-map-marker" class="mr-1"></v-icon>서울특별시 구로구 디지털로 31길20 에이스테크노타워 5차 609호</div>
                            <div class="text-h6 mb-6"><v-icon icon="mdi-phone" class="mr-2"></v-icon>카카오톡ID : FM7777</div>
                            <div class="text-h6"><v-icon icon="mdi-mail" class="mr-2"></v-icon>FM7777@FANDOMMAKE.COM</div>
                        </div>
                    </v-col>
                </v-row>
            </div>
        </v-col>
        <v-col cols="0" md="2"></v-col>
    </v-row>
</template>

<script setup>
import { ref, defineEmits } from 'vue';
import { httpPostAxios } from '@/components/CommonAPI.js';
import { GoogleMap, Marker, InfoWindow } from 'vue3-google-map'

// ==== Google Map API
const center = ref({ lat: 37.48561477661133, lng: 126.8941879272461 });
const markerOptions = ref({ position: center });
const infoWin = ref(true);
// ==== Google Map API

const emit = defineEmits(["setAlert"]);
const insertContactMessageLoading = ref(false);
const contactMessageModel = ref({});
const contactMessageFocusedModel = ref({
    contactType: false,
    contacter: false,
    contacterEmail: false,
    contacterPhone: false,
    contacterUrl: false,
    contactMessage: false
});

const submitContactClickHandler = () => {
    insertContactMessageLoading.value = true;
    const isValid = validateContactMessageModel();
    if(!isValid) {
        return false;
    }

    const endpoints = "/api/homepage/contact/insertContactMessage"
    httpPostAxios(endpoints, contactMessageModel.value).then(res => {
        insertContactMessageLoading.value = false;
        const data = res.data;
        const code = data.code;
        if(code === 0) {
            setAlert('success', '입력되었습니다.');
            contactMessageModel.value = {};
        } else {
            setAlert('error', data.msg);
        }
    });
}

const validateContactMessageModel = () => {

    const contactType = contactMessageModel.value.contactType;
    if(undefined === contactType || null === contactType || contactType === "") {
        setAlert('error', "문의 유형을 선택해 주세요.");
        contactMessageFocusedModel.value.contactType = true;
        return false;
    }

    const contacter = contactMessageModel.value.contacter;
    if(undefined === contacter || null === contacter || contacter === "") {
        setAlert('error', "이름을 입력해 주세요.");
        contactMessageFocusedModel.value.contacter = true;
        return false;
    } else if(contacter.length > 20) {
        setAlert('error', "이름이 너무 길어요. 이름은 20자 이내로 입력해주세요.");
        contactMessageFocusedModel.value.contacter = true;
        return false;
    }

    const contacterEmail = contactMessageModel.value.contacterEmail;
    if(undefined === contacterEmail || null === contacterEmail || contacterEmail === "") {
        setAlert('error', "이메일을 입력해 주세요.");
        contactMessageFocusedModel.value.contacterEmail = true;
        return false;
    } else if(contacterEmail.length > 50) {
        setAlert('error', "이메일 주소가 너무 길어요. 50자 이내로 작성해주세요.");
        contactMessageFocusedModel.value.contacterEmail = true;
        return false;
    } else if(contacterEmail.length < 6) {
        setAlert('error', "이메일 주소가 너무 짧아요.");
        contactMessageFocusedModel.value.contacterEmail = true;
        return false;
    } else if(contacterEmail.indexOf('@') === -1) {
        setAlert('error', "이메일 주소가 너무 짧아요.");
        contactMessageFocusedModel.value.contacterEmail = true;
        return false;
    }

    const contacterPhone = contactMessageModel.value.contacterPhone;
    if(undefined === contacterPhone || null === contacterPhone || contacterPhone === "") {
        setAlert('error', "연락처를 입력해 주세요.");
        contactMessageFocusedModel.value.contacterPhone = true;
        return false;
    } else if(contacterPhone.length > 20) {
        setAlert('error', "연락처가 너무 길어요. 20자 이내로 작성해주세요.");
        contactMessageFocusedModel.value.contacterPhone = true;
        return false;
    } else if(contacterPhone.length < 8) {
        setAlert('error', "연락처가 너무 짧아요.");
        contactMessageFocusedModel.value.contacterPhone = true;
        return false;
    }

    const contacterUrl = contactMessageModel.value.contacterUrl;
    if(undefined !== contacterUrl && null !== contacterUrl && contacterUrl !== "") {
        if(contacterUrl.length > 255) {
            setAlert('error', "URL이 너무 길어요. 255자 이내로 입력해주세요.");
            contactMessageFocusedModel.value.contacterUrl = true;
            return false;
        }
    }

    const contactMessage = contactMessageModel.value.contactMessage;
    if(undefined !== contactMessage && null !== contactMessage && contactMessage !== "") {
        if(contactMessage.length > 1000) {
            setAlert('error', "문의 내용이 너무 길어요. 최대 1000자 이내로 작성해주세요.");
            contactMessageFocusedModel.value.contactMessage = true;
            return false;
        } else if(contactMessage.length < 10) {
            setAlert('error', "문의 내용은 최소 10자 이상 입력해주세요.");
            contactMessageFocusedModel.value.contactMessage = true;
            return false;
        }
    }

    return true;
}

const setAlert = (alertType, alertText) => {
    emit("setAlert", alertType, alertText);
}
</script>

<style scoped>
.custom-text-field :deep(.v-field__input) {
    padding: 0px !important;
}
.custom-text-field :deep(.v-select__selection) {
    margin-bottom: 0px !important;
}
</style>