<template>
    <div class="py-16" style="background: #181818;">
        <v-container>
            <div id="firstContent" :class="{ 'text-center': true, 'animated-1': true, 'fadeInUp': isTouchedContent, 'fadeOutDown': !isTouchedContent }">
                <div class="text-h5 mt-10">
                    REFERENCE
                </div>
                <div class="text-h3 font-weight-black">BEST CREATOR</div>
                <div class="mt-8 text-h4">국내 <span class="font-weight-black text-h3">최고의 </span><span class="d-inline-block">게임 <span class="font-weight-black text-h3">스트리머</span> 다수 보유</span></div>
            </div>
            <div class="text-center" style="max-width: 1400px; margin: 0 auto;">
                <v-row :class="{ 'my-5': true, 'animated-2': true, 'fadeInUp': isTouchedContent, 'fadeOutDown': !isTouchedContent }" align="center">
                    <v-col :class="getPaddingSize()" cols="4" v-for="creatorTopModel in creatorTopTenList" :key="creatorTopModel.idx">
                        <v-img
                        :src="creatorTopModel.youtubeFace"
                        cover
                        class="text-white"
                        style="border-radius: 100%;"
                        />
                        <v-card-title class="text-h4 mt-2 font-weight-black">{{ creatorTopModel.creatorNm }}</v-card-title>
                        <v-card-subtitle class="text-h6">
                            <div style="line-height: 1.4rem;">구독자<br>{{ creatorTopModel.youtubeSubsCnt }}</div>
                        </v-card-subtitle>
                    </v-col>
                </v-row>
                <div :class="{ 'text-h4': true, 'animated-2': true, 'fadeInUp': isTouchedContent, 'fadeOutDown': !isTouchedContent }">
                    리니지 및 모바일게임
                    <span class="d-inline-block">고유 시청층 보유</span>
                </div>
            </div>
        </v-container>
    </div>
</template>

<script setup>
import { ref, onMounted } from 'vue';
import { httpPostAxios } from '@/components/CommonAPI.js';
import { numberComma } from '@/common/common.js';
import { useDisplay } from 'vuetify';

const { xs, sm, md, lg, xl } = useDisplay();
const getPaddingSize = () => {
    if(xl.value) {
        return {'pa-10': true};
    } else if(lg.value) {
        return {'pa-10': true};
    } else if(md.value) {
        return {'pa-5': true};
    } else if(sm.value) {
        return {'pa-3': true};
    } else if(xs.value) {
        return {'pa-1': true};
    } else {
        return {'pa-1': true};
    }
}

const isTouchedContent = ref(false);
onMounted(() => {
    document.addEventListener('scroll', scrollHandler);
    getBestCreatorTopTenList();
});

function scrollHandler() {
    const firstContent = document.querySelector('#firstContent');
    if(!firstContent) return false;
    isTouchedContent.value = window.innerHeight > firstContent.getBoundingClientRect().top + 100;
}

const creatorCardLoading = ref(true);
const creatorTopTenList = ref();

const getBestCreatorTopTenList = () => {
    const endpoints = "/api/homepage/creator/getBestCreatorTopTenList"
    httpPostAxios(endpoints).then(res => {
        if(res.data.code === 0) {
            creatorCardLoading.value = false;
            creatorTopTenList.value = res.data.DATA.slice(0, 3);
        } else {
            showAlert('error', res.data.msg);
        }
    });
}
</script>