<template>
    <v-container class="my-16" style="height: 20vh;">
        <div id="lastContent" :class="{ 'text-center': true, 'animated-1': true, 'fadeInUp': isLastContentView, 'fadeOutDown': !isLastContentView }">
            <div class="text-h5 mt-10">
                REFERENCE
            </div>
            <div class="text-h3 font-weight-black">FLOW THE BUSINESS</div>
        </div>
    </v-container>
    <div :class="{ 'd-flex': true, 'flex-row': true, 'mobile-display-none': true, 'animated-2': true, 'fadeInUp': isLastContentView, 'fadeOutDown': !isLastContentView }" style="height: 80vh;">
        <v-hover v-slot="{ isHovering, props }">
            <v-img class="align-center text-center only-bg-filter first-bg-width-desktop" cover src="/src/assets/img/business/branding.jpg" v-bind="props" :style="hoverTransition(isHovering)">
                <div class="text-h4 mb-10">BRAND</div>
                <div class="text-h6">데이터 분석을 기반으로 <span class="d-block"> 장기적 브랜딩 전략 제공</span></div>
            </v-img>
        </v-hover>
        <v-hover v-slot="{ isHovering, props }">
            <v-img class="align-center text-center only-bg-filter first-bg-width-desktop" cover src="/src/assets/img/business/collabo.jpg" v-bind="props" :style="hoverTransition(isHovering)">
                <div class="text-h4 mb-10">COLLABO</div>
                <div class="text-h6">매칭 서비스를 통해 크리에이터 및 <span class="d-block"> 광고사와의 효율적인 콜라보 </span></div>
            </v-img>
        </v-hover>
        <v-hover v-slot="{ isHovering, props }">
            <v-img class="align-center text-center only-bg-filter first-bg-width-desktop" cover src="/src/assets/img/business/production.jpg" v-bind="props" :style="hoverTransition(isHovering)">
                <div class="text-h4 mb-10">PRODUCTION</div>
                <div class="text-h6">안정적인 운영을 위한 <span class="d-block"> 제작 지원과 세무, 법률 지원 </span></div>
            </v-img>
        </v-hover>
        <v-hover v-slot="{ isHovering, props }">
            <v-img class="align-center text-center only-bg-filter first-bg-width-desktop" cover src="/src/assets/img/business/content.jpg" v-bind="props" :style="hoverTransition(isHovering)">
                <div class="text-h4 mb-10">CONTENTS</div>
                <div class="text-h6">완전히 새롭고 감각적인 <span class="d-block"> 신규 콘텐츠 개발 지원 </span></div>
            </v-img>
        </v-hover>
        <v-hover v-slot="{ isHovering, props }">
            <v-img class="align-center text-center only-bg-filter first-bg-width-desktop" cover src="/src/assets/img/business/credit.jpg" v-bind="props" :style="hoverTransition(isHovering)">
                <div class="text-h4 mb-10">PROMOTION</div>
                <div class="text-h6">데이터 기반의 장기적 <span class="d-block"> 광고 전략과 수익화 제공 </span></div>
            </v-img>
        </v-hover>
    </div>
    <div :class="{ 'd-flex': false, 'flex-row': false, 'desktop-display-none': true, 'animated-2': true, 'fadeInUp': isLastContentView, 'fadeOutDown': !isLastContentView }">
        <v-hover v-slot="{ isHovering, props }">
            <v-img class="align-center text-center only-bg-filter first-bg-width-mobile" cover src="/src/assets/img/business/branding.jpg" v-bind="props" :style="hoverTransition(isHovering)">
                <div class="text-h4 mb-10">BRAND</div>
                <div class="text-h6">데이터 분석을 기반으로 <span class="d-block"> 장기적 브랜딩 전략 제공</span></div>
            </v-img>
        </v-hover>
        <v-hover v-slot="{ isHovering, props }">
            <v-img class="align-center text-center only-bg-filter first-bg-width-mobile" cover src="/src/assets/img/business/collabo.jpg" v-bind="props" :style="hoverTransition(isHovering)">
                <div class="text-h4 mb-10">COLLABO</div>
                <div class="text-h6">매칭 서비스를 통해 크리에이터 및 <span class="d-block"> 광고사와의 효율적인 콜라보 </span></div>
            </v-img>
        </v-hover>
        <v-hover v-slot="{ isHovering, props }">
            <v-img class="align-center text-center only-bg-filter first-bg-width-mobile" cover src="/src/assets/img/business/production.jpg" v-bind="props" :style="hoverTransition(isHovering)">
                <div class="text-h4 mb-10">PRODUCTION</div>
                <div class="text-h6">안정적인 운영을 위한 <span class="d-block"> 제작 지원과 세무, 법률 지원 </span></div>
            </v-img>
        </v-hover>
        <v-hover v-slot="{ isHovering, props }">
            <v-img class="align-center text-center only-bg-filter first-bg-width-mobile" cover src="/src/assets/img/business/content.jpg" v-bind="props" :style="hoverTransition(isHovering)">
                <div class="text-h4 mb-10">CONTENTS</div>
                <div class="text-h6">완전히 새롭고 감각적인 <span class="d-block"> 신규 콘텐츠 개발 지원 </span></div>
            </v-img>
        </v-hover>
        <v-hover v-slot="{ isHovering, props }">
            <v-img class="align-center text-center only-bg-filter first-bg-width-mobile" cover src="/src/assets/img/business/credit.jpg" v-bind="props" :style="hoverTransition(isHovering)">
                <div class="text-h4 mb-10">PROMOTION</div>
                <div class="text-h6">데이터 기반의 장기적 <span class="d-block"> 광고 전략과 수익화 제공 </span></div>
            </v-img>
        </v-hover>
    </div>
    <div class="mobile-display-none" style="height: 100px; margin-top: 30px;"></div>
</template>

<script setup>
import '@/styles/animate.css';
import { ref, onMounted } from 'vue';

onMounted(() => {
    document.addEventListener('scroll', scrollHandler);
});

const isLastContentView = ref(false);
function scrollHandler() {
    const lastContent = document.querySelector('#lastContent');
    if(!lastContent) return false;
    isLastContentView.value = window.innerHeight > lastContent.getBoundingClientRect().top + 100;
}

function hoverTransition(isHovering) {
    return {bottom: isHovering ? '10px' : 0, transition: 'all 0.2s', 'filter': 'contrast(0.9)'}
}
</script>

<style scoped>
.only-bg-filter :deep(img) {
    filter: blur(5px) contrast(0.7);
    transition: all 0.5s;
}

.only-bg-filter:hover :deep(img) {
    filter: blur(0px);
    transition: all 0.5s;
}

.first-bg-width-desktop {
    width: 20%;
}

.first-bg-width-mobile {
    width: 100%;
    max-height: 50vh;
}
</style>