<template>
    <div class="mobile-display-none" style="height: 30px; margin-top: 30px;"></div>
    <v-container class="my-16" style="height: 20vh;">
        <div class="text-center animated-1 fadeInUp">
            <div class="text-h5 mt-10">
                REFERENCE
            </div>
            <div class="text-h3 font-weight-black">REFERENCE STACK</div>
        </div>
    </v-container>
    <div class="d-flex text-center align-center" :style="{ 'background': 'url(' + getImagePath() + ') no-repeat center / cover', 'height': width < 960 ? 'unset' : '100svh' }">
        <v-container class="mx-0 my-16 py-10" style="backdrop-filter: contrast(0.7); max-width: 100%;">
            <div class="text-h4 text-center animated-2 fadeInUp">
                <div class="text-center" style="max-width: 1400px; margin: 0 auto;">
                    <v-row>
                        <v-col cols="12" md="3" sm="6" xs="12" v-for="referenceHeadModel in referenceHeads" :key="referenceHeadModel.idx">
                            <v-hover v-slot="{ isHovering, props }" >
                                <v-card 
                                class="shadow-sm word-keep-all product-card-inner"
                                v-bind="props"
                                :style="hoverTransition(isHovering)"
                                variant="elevated"
                                @click="viewReferencePost(referenceHeadModel.idx)"
                                >
                                    <v-img
                                    height="200"
                                    aspect-ratio="16/9"
                                    :src="imageHost + referenceHeadModel.imgMain"
                                    cover
                                    class="text-white"
                                    />
                                    <v-card-title class="text-h5 font-weight-black text-left"><v-icon icon="mdi-circle-medium"></v-icon>{{ replaceReferenceCategoryToTxt(referenceHeadModel.category) }}</v-card-title>
                                </v-card>
                            </v-hover>
                        </v-col>
                    </v-row>
                    <v-btn @click="toRoute('Reference')" class="mt-5" rounded="xl" color="indigo" density="comfortable" size="x-large">레퍼런스 더 보기</v-btn>
                </div>
            </div>
            <div class="text-h4 mt-5 text-center animated-3 fadeInUp">크리에이터들의 <span class="d-inline-block">든든한 파트너</span></div>
            <div class="text-h5 mt-5 animated-3 fadeInUp">
                <div style="word-break: keep-all;">
                    광고 솔루션 제공, 컨텐츠 홍보, <span class="d-inline-block">다양한 게임 리소스까지!</span><br>
                    당신의 컨텐츠를 더욱 매력적으로,<br>
                    전문 파트너로서 당신을 <span class="d-inline-block">든든하게 지원하겠습니다.</span>
                </div>
            </div>
            <!-- <v-btn @click="toRoute('Contact')" :class="{ 'mt-14': true, 'animated-3': true, 'fadeInUp': isLastContentView, 'fadeOutDown': !isLastContentView }" size="x-large" variant="outlined">Contact</v-btn> -->
        </v-container>
    </div>
</template>

<script setup>
const imageHost = import.meta.env.VITE_APP_IMAGE_SERVICE_HOST;
import { ref, onMounted } from 'vue';
import { httpPostAxios } from '@/components/CommonAPI.js';
import { replaceReferenceCategoryToTxt } from '@/common/common.js';
import { useDisplay } from 'vuetify';
import { useRouter } from 'vue-router';

const router = useRouter();
const { width, height } = useDisplay();
const getImagePath = function() {
    return new URL(`/src/assets/img/bg/twitch-bg.jpg`, import.meta.url).href;
}

onMounted(() => {
    getReferenceHead();
});

const referenceHeads = ref();
const getReferenceHead = () => {
    const endpoints = "/api/homepage/reference/getReferenceHead"
    httpPostAxios(endpoints).then(res => {
        if(res.data.code === 0) {
            referenceHeads.value = res.data.DATA;
        } else {
            showAlert('error', res.data.msg);
        }
    });
}

const viewReferencePost = (idx) => {
    const to = { 
        name: 'ReferencePost', 
        params: { refNo: idx }
    };
    router.push(to);
}

function hoverTransition(isHovering) {
    return {width: '100%', bottom: isHovering ? '10px' : 0, transition: 'all 0.2s'}
}
</script>

<style scoped>
.business-explain-bg {
    backdrop-filter: contrast(0);
}
</style>