<template>
    <div class="pb-16">
        <v-container>
            <div class="text-center animated-1 fadeInUp">
                <div class="text-h5 mt-10">
                    BUSINESS
                </div>
                <div class="text-h3 font-weight-black">TOP CREATORS</div>
                <div class="mt-8 text-h4">리니지 및 모바일 게임 <span class="d-inline-block"><span style="color: #EF5350;">BEST 크리에이터</span> 보유</span></div>
            </div>
        </v-container>
        <div class="my-10 animated-2 fadeInUp text-center">
            <CreatorCardCarousel />
            <div class="mt-16 text-h4">충성도가 높은 <span class="d-inline-block" style="color: #3F51B5;">게임 콘텐츠 시청자 최다 보유</span></div>
        </div>
    </div>
</template>

<script setup>
import '@/styles/animate.css';

</script>