<template>
  <router-view v-slot="{ Component, route }">
    <transition name="slide-x" mode="out-in">
      <component :is="Component" :key="route.path" />
    </transition>
  </router-view>
</template>

<script>
import { onMounted } from 'vue'

export default {
setup () {
  onMounted(() => {
  });
},
}
</script>