<template>
    <v-app-bar class="custom-toolbar app-bar-wrap grey-darken-3" density="prominent" scroll-threshold="30" :elevation="isTopOverY ? 4 : 0" :style="{ 'transition': 'all .2s', 'background': isTopOverY ? 'rgba(255, 255, 255, 0.8)' : 'linear-gradient(0deg, rgba(252,0,0,0) 20%, rgba(200,200,200,0.4) 100%)' }">
        <v-app-bar-title :style=" { 'height': width < 960 ? '54px' : '100px', 'margin-left': width < 600 ? '10px' : '25px' } ">
            <div class="float-left align-center">
                <div class="mobile-display-none" style="margin-top: 15px;">
                    <span @click="toRoute('Home')" class="mobile-display-none" style="cursor: pointer;">
                        <img src="/src/assets/img/logo/Logo_horizon.png" :style="{ 'transition': 'all .2s', 'height': '70px', 'filter': isTopOverY ? 'unset' : 'brightness(0) invert(1)'}" />
                    </span>
                </div>
                <div class="desktop-display-none" style="margin-top: 10px;">
                    <span @click="toRoute('Home')" class="desktop-display-none" style="cursor: pointer;">
                        <img src="/src/assets/img/logo/Logo_horizon.png" :style="{ 'transition': 'all .2s', 'height': '35px', 'filter': isTopOverY ? 'unset' : 'brightness(0) invert(1)'}"/>
                    </span>
                </div>
            </div>
            <div class="float-right justify-space-between d-flex flex-row mr-10 mt-7 mobile-display-none" :style="{ 'transition': 'all .2s', 'gap': '45px', 'color': isTopOverY ? '#000' : '#EEE' }">
                <div class="appbar-menu-mouse-over" @click="toRoute(item.to)" v-for="item in pageItems">{{ item.title }}</div>
            </div>
            <v-btn
                class="desktop-display-none float-right mr-2"
                icon="mdi-dots-vertical"
                :style="{ 'transition': 'all .2s', 'margin-top': '3px', 'color': isTopOverY ? '#000' : '#EEE' }"
            >
                <v-icon icon="mdi-dots-vertical"></v-icon>
                <v-dialog
                    v-model="menuDialog"
                    activator="parent"
                    width="100%"
                    style="top: 0px; z-index: 9999;"
                >
                    <v-card rounded="xl">
                        <v-card-title>
                            <span class="text-h5">MENU</span>
                        </v-card-title>
                        <v-card-text>
                            <v-btn variant="text" size="x-large" rounded="0" @click="toRoute('Home')" block>ABOUT</v-btn>
                            <v-btn class="mt-2" variant="text" size="x-large" rounded="0" @click="toRoute('Creator')" block>CREATOR</v-btn>
                            <v-btn class="mt-2" variant="text" size="x-large" rounded="0" @click="toRoute('Business')" block>BUSINESS</v-btn>
                            <v-btn class="mt-2" variant="text" size="x-large" rounded="0" @click="toRoute('Contact')" block>CONTACT</v-btn>
                        </v-card-text>
                        <v-card-actions>
                            <v-btn color="red-lighten-1" block @click="menuDialog = false">Close</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-btn>
        </v-app-bar-title>
    </v-app-bar>
</template>

<script setup>
import { onMounted, ref } from 'vue';
import { useRouter } from 'vue-router';
import { useAuthStore } from "@/store/auth";
import { useAppStore } from "@/store/app";
import { useDisplay } from 'vuetify';

const router = useRouter();
const authStore = useAuthStore();
const appStore = useAppStore();
const { width } = useDisplay();

const menuDialog = ref(false);

const pageItems = [
    {
        title: 'ABOUT',
        to: 'Home',
    },
    {
        title: 'CREATOR',
        to: 'Creator',
    },
    {
        title: 'BUSINESS',
        to: 'Business',
    },
    {
        title: 'CONTACT',
        to: 'Contact',
    },
];

const isTopOverY = ref(false);
const isMobile = ref(width < 960 ? true : false);

function scrollHandler() {
    isTopOverY.value = window.scrollY > 30;
}

onMounted(() => {
    document.addEventListener('scroll', scrollHandler);
});
</script>

<style scoped>
.custom-toolbar :deep(.v-toolbar__content) {
        height: 100px !important;
    }

@media (max-width: 960px) {
    .custom-toolbar :deep(.v-toolbar__content) {
        height: 54px !important;
    }
}

</style>