<template>
  <v-app>
    <AppBar />
    <SideBar />
    <View style="margin-top: 100px;"/>
    <Footer />
  </v-app>
</template>

<script setup>
  import AppBar from './AppBar.vue';
  import SideBar from './SideBar.vue';
  import View from './View.vue';
  import Footer from './Footer.vue';
</script>