<template>
  <v-footer class="blue-grey-darken-4 text-center pt-4" style="background-color: #151C20; z-index:2;">
    <v-row no-gutters align="center">
      <v-col class="mobile-display-none" v-show="width >= 1000" :cols="getFooterSideGrid(width)" align="right">
        <div @click="toRoute('Admin')" class="mt-1">
          <img src="/src/assets/img/logo/Logo_vertical.png" style="width: 100px; filter: brightness(0) invert(1);" />
          <br>
          <!-- <span class="text-center">팬덤메이크</span> -->
        </div>
      </v-col>
      <v-col class="mobile-display-none text-h6" :cols="getFooterCentralGrid(width)" align="center">
        <div class="pa-2 d-flex flex-row align-center justify-center">
          <div>주식회사 팬덤메이크</div>
          <div class="mx-16 px-2">대표이사 {{ footerCsData.ceoNm }}</div>
          <div class="text-right">사업자등록번호: {{ footerCsData.companyNo }}</div>
        </div>
        <div class="pa-2 d-flex flex-row align-center justify-center">
          <div>ADDRESS {{ footerCsData.address }}</div>
        </div>
        <div class="pa-2 d-flex flex-row align-center justify-center">
          <div class="mr-16 pr-6">TEL {{ footerCsData.csPhone }}</div>
          <div class="ml-16">E-MAIL {{ footerCsData.csEmail }}</div>
        </div>
      </v-col>
      <v-col class="mobile-display-none" :cols="getFooterSideGrid(width)" align="left">
          <v-btn @click="toRoute('Contact')" size="default" variant="outlined">Contact</v-btn>
      </v-col>
    <div class="desktop-display-none d-flex flex-column" style="min-width: 90%;">
      <div @click="toRoute('Admin')" class="text-left">
        <img src="/src/assets/img/logo/Logo_horizon.png" style="width: 150px; filter: brightness(0) invert(1);" />
      </div>
      <!-- <div class="text-left text-h6 my-4">
        <div class="text-title mb-3 text-h6">MENU</div>
        <div class="d-flex">
          <div class="d-flex flex-column mr-10">
            <div class="text-mouse-over mb-2" @click="toRoute('About')">ABOUT</div>
            <div class="text-mouse-over" @click="toRoute('Business')">BUSINESS</div>
          </div>
          <div class="d-flex flex-column">
            <span class="text-mouse-over mb-2" @click="toRoute('Creator')">CREATOR</span>
            <span class="text-mouse-over" @click="toRoute('Contact')">CONTACT</span>
          </div>
        </div>
      </div> -->
      <div class="text-left text-h6 my-4 pt-1">
        <div class="mb- text-h6">주식회사 팬덤메이크</div>
        <div class="mb- text-h6">대표이사 {{ footerCsData.ceoNm }}</div>
        <div class="mb- text-h6">사업자등록번호: {{ footerCsData.companyNo }}</div>
      </div>
      <div class="text-left text-h6 my-2">
        <div class="mb-1 text-h6">ADDRESS</div>
        <span style="word-break: keep-all;">{{ footerCsData.address }}</span>
      </div>
      <div class="text-left text-h6 my-2">
        <div class="mb-1 text-h6">TEL</div>
        <span>{{ footerCsData.csPhone }}</span>
      </div>
      <div class="text-left text-h6 my-2">
        <div class="mb-1 text-h6">E-MAIL</div>
        <div>{{ footerCsData.csEmail }}</div>
        <v-btn @click="toRoute('Contact')" class="mt-7" variant="outlined">Contact</v-btn>
      </div>
    </div>
      <v-col cols="12">
        <v-divider class="border-opacity-25 my-4" style="width: 100%;"></v-divider>
        <div class="mb-2 text-font-normal" style="font-size: 14px;">
          Copyright © 2024 FANDOMMAKE. <span class="d-inline-block">All rights reserved.</span>
        </div>
      </v-col>
    </v-row>
  </v-footer>
</template>

<script setup>
import { ref, onMounted } from 'vue';
import { httpPostAxios } from '@/components/CommonAPI.js';
import { useRouter } from 'vue-router';
import { useDisplay } from 'vuetify';
const router = useRouter();
const { width } = useDisplay();

const getFooterSideGrid = (w) => {
  if(w >= 1600) {
        return 3;
    } else if(w >= 1200) {
        return 2;
    } else if(w >= 1000) {
        return 1;
    } else {
        return 1;
    }
}

const getFooterCentralGrid = (w) => {
    if(w >= 1600) {
        return 6;
    } else if(w >= 1200) {
        return 8;
    } else if(w >= 1000) {
        return 10;
    } else {
        return 11;
    }
}

const toRoute = (link) => {
    const to = { name: link };
    router.push(to);
}

const footerCsData = ref({
  ceoNm: '강선우',
  companyNo: '730-87-02584',
  address: '서울특별시 구로구 디지털로 31길20 (구로구,에이스테크노타워 5차) 609호',
  csPhone: '010-8351-8816',
  csEmail: 'FM7777@FANDOMMAKE.COM'
});

onMounted(() => {
  getFooterData();
});

const getFooterData = () => {
    const endpoints = "/api/homepage/footer/getFooterData"
    httpPostAxios(endpoints).then(res => {
      // footerCsData.value = res.data.DATA;
    });
}
</script>