<template>
    <div class="d-flex align-center mobile-display-none ml-5" style="height: 280px; position: fixed; z-index: 3; top: calc(50% - 140px);">
        <div class="text-h4 justify-space-between d-flex flex-column" style="gap: 20px; color: #EEE;">
            <div class="appbar-menu-mouse-over" @click="toRoute(item.to)" v-for="item in pageItems" :style="{ 'color': curRouteNm === item.to ? '#3A89C9' : '#EEE' }">{{ item.title }}</div>
            <a class="appbar-menu-mouse-over" href="https://pf.kakao.com/_xfJzUG" target="_blank" style="text-decoration-line: none; color: #EEE;">카톡문의</a>
        </div>
    </div>
</template>

<script setup>
import { onMounted, ref } from 'vue';
import { useRouter } from 'vue-router';
import { useAuthStore } from "@/store/auth";
import { useAppStore } from "@/store/app";
import { useDisplay } from 'vuetify';

const router = useRouter();
const curRouteNm = ref(router.currentRoute.value.name);

const pageItems = [
    {
        title: 'ABOUT',
        to: 'Home',
    },
    {
        title: 'CREATOR',
        to: 'Creator',
    },
    {
        title: 'REFERENCE',
        to: 'Business',
    },
    {
        title: 'CONTACT',
        to: 'Contact',
    },
];
</script>