<template>
  <v-main class="pa-0">
    <router-view @setAlert="setAlert" />
  </v-main>
  
  <v-snackbar
      v-model="alertModel.isAlert"
      rounded="pill"
      multi-line
      min-width="260"
      width="25%"
      timeout="3000"
      elevation="24"
      :color="alertModel.alertType"
      style="bottom: 60px;"
  >
    <v-icon :icon="alertModel.alertIcon"></v-icon>
    {{ alertModel.alertText }}
    <template v-slot:actions>
      <v-btn
          variant="text"
          icon="mdi-close-circle"
          @click="alertModel.isAlert = false"
      >
      </v-btn>
    </template>
  </v-snackbar>
</template>

<script setup>
import { ref } from 'vue';
const alertModel = ref({});
const setAlert = (alertType, alertText) => {
  alertModel.value.isAlert = true;
  alertModel.value.alertType = alertType;
  alertModel.value.alertText = alertText;
  if(alertType === 'success') {
    alertModel.value.alertIcon = 'mdi-check';
  } else if(alertType === 'error') {
    alertModel.value.alertIcon = 'mdi-alert-circle-outline';
  }
}
</script>