<template>
    <v-app-bar class="app-bar-wrap custom-toolbar" scroll-threshold="20" :elevation="3" style="opacity: 0.9; background: linear-gradient(0deg, rgba(252,0,0,0) 20%, rgba(200,200,200,0.4) 100%); background-color: #262e58;">
        <v-app-bar-title class="app-bar-wrap-title">
            <v-row no-gutters align="center">
                <v-col cols="3">
                    <div class="font-weight-thin pa-2 hover-pointer align-center" style="vertical-align: middle;">

                        <div class="mobile-display-none">
                            <img @click="toRoute('Home')" src="/src/assets/img/logo/Logo_horizon.png" style="transition: all .2s; height: 37px; filter: brightness(0) invert(1); vertical-align: middle;"/>
                            <span @click="toRoute('Reference')" class="ml-4" style="vertical-align: middle; font-size: 28px;">팬덤메이크 레퍼런스</span>
                        </div>

                        <div class="desktop-display-none">
                            <img @click="toRoute('Home')" src="/src/assets/img/logo/Logo_horizon.png" style="transition: all .2s; height: 30px; filter: brightness(0) invert(1); vertical-align: middle;"/>
                            <span @click="toRoute('Reference')" class="ml-4" style="vertical-align: middle; font-size: 20px;">팬덤메이크 레퍼런스</span>
                        </div>

                    </div>
                </v-col>
                <v-col class="mobile-display-none text-right" cols="9" align="right">
                </v-col>
                <v-col cols="5" md="2" offset-md="4" offset="5" align="right">
                </v-col>
            </v-row>
        </v-app-bar-title>
    </v-app-bar>
</template>

<script setup>
</script>

<style scoped>
.app-bar-wrap {
    height: 50px;
}

.custom-toolbar :deep(.v-toolbar__content) {
    height: 50px !important;
}
</style>