<template>
    <div style="height: 40px;"></div>
    <div class="fandom-make-bg" :style="{ 'padding': width < 960 ? '60px 6px' : '60px', 'margin': width < 960 ? '0 10px' : '0' }">
        
        <!-- 배너 광고 -->
        <div class="text-h4"><v-icon icon="mdi-menu-down"></v-icon>광고 레퍼런스</div>
        <v-divider class="mb-10"></v-divider>
        <v-row>
            <v-col class="ref-col-lg-6 ref-col-lg-5 ref-col-lg-4 ref-col-lg-3 ref-col-lg-2 ref-col-lg-1 fandom-make-card" v-for="(model, i) in referencesTitleData">
                <v-hover v-slot="{ isHovering, props }">
                    <v-card class="word-keep-all creator-card card-border-grad hover-pointer" v-bind="props" @click="viewReferencePost(model)" min-width="100%" max-width="100%" height="100%" :style="hoverTransition(isHovering)">
                        <v-img cover
                        height="150"
                        aspect-ratio="16/9"
                        :src="imageHost + model.imgMain"
                        lazy-src="/src/assets/img/unknown_person.png">
                        </v-img>
                        <v-divider thickness="1"></v-divider>
                        <v-card-item class="text-h7">
                            <img
                            height="15"
                            :src="imageHost + model.imgBanner"
                            style="border-radius: 3px;">
                                
                            </img>
                            {{ model.title }}
                        </v-card-item>
                        <v-card-text>
                            <div>
                                <v-chip v-for="product in model.chipProductNmArr" class="ma-1" density="comfortable" size="small">
                                    {{ product }}
                                </v-chip>
                            </div>
                            <div>
                                <v-chip v-for="genre in model.chipGenreArr" class="ma-1" density="comfortable" size="small">
                                    {{ genre }}
                                </v-chip>
                            </div>
                            <div>
                                <v-chip v-for="creator in model.chipCreatorArr" class="ma-1" density="comfortable" size="small">
                                    {{ creator }}
                                </v-chip>
                            </div>
                        </v-card-text>
                    </v-card>
                </v-hover>
            </v-col>
        </v-row>
    </div>
</template>

<script setup>
const imageHost = import.meta.env.VITE_APP_IMAGE_SERVICE_HOST;
import '@/styles/reference_grid.scss';
import { ref, onMounted } from 'vue';
import { useRouter } from 'vue-router';
import { useDisplay } from 'vuetify';
import { httpPostAxios } from '@/components/CommonAPI.js';

const { width } = useDisplay();
const router = useRouter();

onMounted(() => {
    getReferenceTitleList();
})

const referencesTitleListLoading = ref(true);
const referencesTitleData = ref({});
const getReferenceTitleList = () => {
    const endpoints = "/api/homepage/reference/getReferenceTitleList"
    httpPostAxios(endpoints).then(res => {
        referencesTitleListLoading.value = false;
        if(res.data.code === 0) {
            referencesTitleData.value = res.data.DATA;
        } else {
            setAlert('error', res.data.msg);
        }
    });
}

const viewReferencePost = (refer) => {
    const to = { 
        name: 'ReferencePost', 
        params: { refNo: refer.idx }
    };
    router.push(to);
}

function hoverTransition(isHovering) {
    return {width: '100%', bottom: isHovering ? '10px' : 0, transition: 'all 0.2s'}
}
</script>

<style>

.reference_custom_card {
    color: rgb(70, 70, 70) !important;
}

@media (max-width: 960px) {
    .fandom-make-card {
        padding: 6px !important;
    }
}
</style>