<template>
    <v-img class="custom-v-image" cover :src="imageHost + referenceModel.imgMain" :height="width < 960 ? 250 : 400"></v-img>
    <v-divider thickness="2"></v-divider>
    <v-row :class="{ 'px-8': width < 600 ? false : true, 'px-4': width < 600 ? true : false } " no-gutters align="center">
        <v-col offset-xl="3" xl="6" offset-lg="2" lg="8" offset-md="0" md="12" offset-sm="1" sm="10">
            <v-img :src="imageHost + referenceModel.imgBanner" width="150" height="150" style="top: -76px; border-radius: 30px;"></v-img>
            <div class="text-h3 word-keep-all">{{ referenceModel.title }}</div>
            <div class="mt-10">
                <div class="text-h6 d-flex flex-row chip-title-height">
                    <div class="chip-title-min-width align-content-baseline"><v-icon icon="mdi-circle-medium"></v-icon><span>캠페인 집행년월</span></div>
                    <v-chip-group class="custom-chip-group align-center" column>
                        <v-chip :ripple="false" v-for="chipDate in referenceModel.chipDateArr" style="height: 30px;">{{ chipDate }}</v-chip>
                    </v-chip-group>
                </div>
                <div class="text-h6 d-flex flex-row chip-title-height">
                    <div class="chip-title-min-width align-content-baseline"><v-icon icon="mdi-circle-medium"></v-icon><span>광고 상품</span></div>
                    <v-chip-group class="custom-chip-group align-center" column>
                        <v-chip :ripple="false" v-for="chipProduct in referenceModel.chipProductArr" style="height: 30px;">{{ chipProduct }}</v-chip>
                    </v-chip-group>
                </div>
                <div class="text-h6 d-flex flex-row chip-title-height">
                    <div class="chip-title-min-width align-content-baseline"><v-icon icon="mdi-circle-medium"></v-icon><span>상품명</span></div>
                    <v-chip-group class="custom-chip-group align-center" column>
                        <v-chip :ripple="false" v-for="chipProductNm in referenceModel.chipProductNmArr" style="height: 30px;">{{ chipProductNm }}</v-chip>
                    </v-chip-group>
                </div>
                <div class="text-h6 d-flex flex-row chip-title-height">
                    <div class="chip-title-min-width align-content-baseline"><v-icon icon="mdi-circle-medium"></v-icon><span>광고 플랫폼</span></div>
                    <v-chip-group class="custom-chip-group align-center" column center-active>
                        <v-chip  :ripple="false" v-for="chipPlatform in referenceModel.chipPlatformArr" style="height: 30px;">{{ chipPlatform }}</v-chip>
                    </v-chip-group>
                </div>
                <div class="text-h6 d-flex flex-row chip-title-height">
                    <div class="chip-title-min-width align-content-baseline"><v-icon icon="mdi-circle-medium"></v-icon><span>장르</span></div>
                    <v-chip-group class="custom-chip-group align-center" column>
                        <v-chip :ripple="false" v-for="chipGenre in referenceModel.chipGenreArr" style="height: 30px;">{{ chipGenre }}</v-chip>
                    </v-chip-group>
                </div>
                <div class="text-h6 d-flex flex-row chip-title-height">
                    <div class="chip-title-min-width align-content-baseline"><v-icon icon="mdi-circle-medium"></v-icon><span>크리에이터</span></div>
                    <v-chip-group class="custom-chip-group align-center" column>
                        <v-chip :ripple="false" v-for="chipCreator in referenceModel.chipCreatorArr" style="height: 30px;">{{ chipCreator }}</v-chip>
                    </v-chip-group>
                </div>
            </div>
            <v-divider class="mt-10 mb-10"></v-divider>
            <div class="text-h4 word-keep-all mt-5">캠페인 목표</div>
            <div class="text-h6 word-keep-all mt-5">{{ referenceModel.purpose }}</div>
            <v-divider class="mt-10 mb-10"></v-divider>
            <div class="text-h4 word-keep-all mt-5">캠페인 영상</div>
            <div class="text-h6 word-keep-all mt-5">
                <div style="position: relative; display: flex; justify-content: center; width: 100%; min-height: 100px; height: 0px; padding-bottom: 56.25%;">
                    <iframe :src="'https://www.youtube.com/embed/' + referenceModel.youtubeUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen style="position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; border-radius: 1px; pointer-events: auto; background-color: rgb(247, 246, 245);"></iframe>
                </div>
            </div>
            <v-divider class="mt-10 mb-10"></v-divider>
        </v-col>
    </v-row>
</template>

<script setup>
const imageHost = import.meta.env.VITE_APP_IMAGE_SERVICE_HOST;
import { ref, onMounted, defineProps, defineEmits } from 'vue';
import { httpPostAxios } from '@/components/CommonAPI.js';
import { useRouter } from 'vue-router';
import { useDisplay } from 'vuetify';

const { width } = useDisplay();
const props = defineProps({
    refNo: Number
});

const router = useRouter();
const emit = defineEmits(["setAlert"]);
const setAlert = (alertType, alertText) => {
    emit("setAlert", alertType, alertText);
}

onMounted(() => {
    getViewReferenceData();
})

const referenceModelLoading = ref(true);
const referenceModel = ref({});
const getViewReferenceData = () => {
    const param = {
        'refNo' : props.refNo
    }
    const endpoints = "/api/homepage/reference/getViewReferenceData"
    httpPostAxios(endpoints, param).then(res => {
        referenceModelLoading.value = false;
        if(res.data.code === 0) {
            referenceModel.value = res.data.DATA;
        } else {
            if(res.data.code === 3) {
                router.replace({ name: 'Reference' });
            }
            setAlert('error', res.data.msg);
        }
    });
}
</script>

<style scoped>
.custom-v-image :deep(.v-img__img) {
    height: 120%;
}
.chip-height {
    height: 35px;
}
.reference-view-font-color {
    color: rgb(70, 70, 70) !important;
}
.chip-title-min-width {
    margin: 10px 0;
    min-width: 220px;
}
.chip-title-height {
    min-height: 46px;
}
.custom-chip-group :deep(.v-chip--link) {
    cursor: default;
}

@media (max-width: 960px) {
    .chip-title-min-width {
        margin: 10px 0;
        min-width: 150px;
    }
}

@media (max-width: 600px) {
    .chip-title-min-width {
        margin: 10px 0;
        min-width: 140px;
    }
}

@media (max-width: 300px) {
    .chip-title-min-width {
        margin: 10px 0;
        min-width: 130px;
    }
}
</style>